.footer {}

.footer-top {
  background: #FFFFFF;
}

.footer-top-wrap {
  display: flex;
  justify-content: space-between;
  height: 13.5rem;
  align-items: center;
}

.footer-top-list {
  font-family: "Noto Sans", sans-serif;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 117.5%;
  text-transform: uppercase;
  color: #222222;
  display: flex;

  li {
    margin-right: 9.5rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

.footer-logo-link {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-main {
  &__margin-index {
    margin-top: 16.4rem;
  }
}

.footer-list-wrap {
  display: flex;
}

.footer-nav-list {
  display: flex;
  flex-direction: column;
  font-family: "Noto Sans", sans-serif;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 4rem;
  color: #848484;

  margin-right: 13rem;

  &:last-child {
    margin-right: 0;
  }

  li {
    margin-bottom: .1rem;

    &:first-child {
      font-size: 1.8rem;
      line-height: 117.5%;
      text-transform: uppercase;
      color: #222222;
      margin-bottom: 2rem;
    }

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.footer-middle {
  &__margin-content {
    padding-top: 3.5rem;
    padding-bottom: 3.4rem;
  }
}

.footer-middle-wrap {
  display: flex;
  justify-content: space-between;
}

.footer-salons {
  font-family: "Cormorant", sans-serif;

  font-weight: bold;
  font-size: 1.8rem;

  text-align: right;
  color: #322A28;
}

.footer-salons-link {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  &__margin-arrow {
    margin-left: 1.15rem;
  }

  .link-arrow {
    width: 1.6rem;
    height: .8rem;
  }
}

.footer-social-list {
  &__margin-salon {
    margin-top: 9.3rem;
  }

  &__margis-soc {
    margin-top: 3.8rem;
  }
}

.footer-social-link {
  display: flex;
  justify-content: flex-end;
}

.footer-social-link-item {
  margin-right: 3.5rem;

  &:last-child {
    margin-right: 0;
  }
}

.footer-bottom {
  background: #fff;

}

.footer-bottom-wrap {
  height: 6.6rem;
  display: flex;
  align-items: center;
}

.footer-bottom-list {
  font-family: "Noto Sans", sans-serif;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 117.5%;
  color: #000000;
  display: flex;

  li {
    margin-right: 15rem;

    &:last-child {
      margin-right: 0;
    }
  }
}