.__select {
  position: relative;
  font-family: "Noto Sans", sans-serif;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 117.5%;
  color: #343434;
  width: 11.6rem;

  &[data-state="active"] {
    .__select__title {
      &::before {
        transform: translate(-3px, -50%) rotate(-135deg);
      }

      &::after {
        transform: translate(3px, -50%) rotate(45deg);
      }
    }

    .__select__content {
      opacity: 1;
    }

    .__select__label+.__select__input+.__select__label {
      max-height: 40px;
      border-top-width: 1px;
    }
  }
}

.__select__title {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  border-bottom: .1rem solid #CFCFCF;

  cursor: pointer;

  &::before {
    content: "";

    position: absolute;
    top: 50%;
    right: 0;

    display: block;
    width: 7px;
    height: 7px;

    transition: all 0.3s ease-out;

    border-bottom: .1rem solid #AEAEAE;
    border-right: .1rem solid #AEAEAE;

    transform: translate(-3px, -50%) rotate(45deg);
  }


  &:hover {
    border-color: #F04D22;

    &::before {}
  }
}

.__select__content {
  position: absolute;
  top: 40px;
  left: 3px;

  display: flex;
  flex-direction: column;
  width: calc(100% - 6px);

  background-color: #ffffff;

  border: 1px solid #c7ccd1;
  border-top: none;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;

  transition: all 0.3s ease-out;

  opacity: 0;
  z-index: 8;
}

.__select__input {
  display: none;

  &:checked+label {
    background-color: #dedede;
  }

  &:disabled+label {
    opacity: 0.6;
    pointer-events: none;
  }
}

.__select__label {
  display: flex;
  align-items: center;
  width: 100%;
  height: 40px;
  max-height: 0;
  padding: 0 3px;
  transition: all 0.2s ease-out;
  cursor: pointer;
  overflow: hidden;

  &+input+& {
    border-top: 0 solid #C7CCD160;
  }

  &:hover {
    background-color: #D8093A !important;

    color: #ffffff;
  }
}

.official-salons {
  font-family: "Cormorant", sans-serif;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 117.5%;
  color: #343434;
}

.official-salons-link {
  display: flex;
  align-items: center;
  white-space: nowrap;

  &__margin-arrow {
    margin-left: .7rem;
  }
}

.top-header-left {
  display: flex;
  align-items: center;
}

.top-header-wrap {
  display: flex;
  justify-content: space-between;
  height: 8.15rem;
  align-items: center;

  &__salons-margin {
    margin-left: 6rem;
  }
}

.logo-top {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.time-work-header {
  font-family: "Noto Sans", sans-serif;
  font-weight: normal;
  font-size: 1.3rem;
  line-height: 117.5%;
  color: #A3A3A3;

  li {
    a {
      font-size: 2rem;
      line-height: 117.5%;
      letter-spacing: 0.055em;
      text-transform: uppercase;
      color: #322A28;
    }
  }
}

.top-header-right {
  display: flex;
  align-items: center;

  &__margin-btn {
    margin-left: 3.7rem;
  }
}

.btm-header-list {
  font-family: "Noto Sans", sans-serif;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 117.5%;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #525252;
  display: flex;
  align-items: flex-end;

  li {
    margin-right: 6.4rem;
    padding-bottom: 3.6rem;
    position: relative;
    display: inline-block;

    &:before {
      background: transparent;
      position: absolute;
      content: '';
      width: 100%;
      height: .2rem;
      bottom: 0;
      left: 0;
      transition: background 0.2s;
    }

    &:hover {

      &:before {
        background: #F04D22;
        transition: background 0.2s;

      }
    }

    &:last-child {
      margin-right: 0;
    }
  }
}

.header-general {
  position: relative;

  &__margin-btm {
    margin-top: 3.7rem;
  }
}

.header-main {
  background: #fff;
  position: fixed;
  width: 100%;
  z-index: 101;
}

.basket {
  position: absolute;
  right: 1rem;
  bottom: 3rem;

  &:after {
    position: absolute;
    content: '';
    width: 1px;
    height: 5.3rem;
    top: 50%;
    margin-top: -2.65rem;
    background: #E2E2E2;
    left: -3.8rem;
  }
}

.basket-link {
  position: relative;
  display: block;
}

.basket-num {
  position: absolute;
  width: 1.7rem;
  height: 1.7rem;
  border-radius: 50%;
  background: #F04D22;
  top: -.5rem;
  right: -1rem;
  @include flexible();
  font-family: "Noto Sans", sans-serif;
  font-weight: normal;
  font-size: 1rem;
  line-height: 117.5%;
  letter-spacing: 0.15em;
  text-transform: uppercase;

  color: #FFFFFF;
}

.btm-header-wrap {
  &--active {
    width: 100vw !important;
    height: 40vh !important;
    background: white;
    display: block !important;
    position: absolute;
    top: 8.6rem;
    left: 0;
    z-index: 99;
    max-width: unset !important;

    .header-general__margin-btm {
      margin-top: 0;
    }

    .btm-header-list {
      padding-top: 7.6rem;
      display: block;
      flex-direction: unset;
      align-items: unset;
      max-width: 66.6rem;
      margin: auto;
      padding-bottom: 1rem;

      li {
        display: block;

        &:hover {
          color: #F04D22;

          &:before {
            display: none;
          }
        }
      }
    }
  }
}

.btn-mob-menu {
  display: none;

  .btn-mob-menu-item {
    width: 3.4rem;
    height: .8rem;
    position: relative;

    &:before {
      transition: transform 0.2s;
      position: absolute;
      width: 100%;
      height: .1rem;
      content: '';
      bottom: 0;
      left: 0;
      background: #000000;
    }

    &:after {
      transition: transform 0.2s;
      position: absolute;
      width: 2.3rem;
      height: .1rem;
      content: '';
      top: 0;
      left: 0;
      background: #000000;
    }
  }
}

.mob-btm-menu {
  display: none;
}

.fixed {
  position: fixed;
  z-index: 999;
  top: 0;
  background: white;
  width: 100%;
}

.fixed_block_position {
  height: auto !important;

}

.fixed_block {
  width: 100%;
}

.scroll-header {
  .btm-header-list {
    font-size: 1.4rem;
  }

  .btm-header-list li {
    margin-right: 9.3rem;
    padding-bottom: 2.4rem;
  }

  .header-general__margin-btm {
    margin-top: 2.5rem;
  }

  .basket {
    bottom: 2rem;
  }
}