.wrapper {
  max-width: 160rem;
  width: 100%;
  margin: auto;
}

.btn-item {
  font-family: "Cormorant", sans-serif;
  font-weight: bold;
  line-height: 117.5%;
  position: relative;
  @include flexible();

  &:before {
    width: calc(100% + 1rem);
    height: calc(100% - 1rem);
    position: absolute;
    content: '';
    top: .5rem;
    left: -.5rem;

  }
}

.btn-form-feedback {
  border: .1rem solid #222222;
  color: #222222;
  font-size: 1.8rem;
  width: 100%;
  height: 8.2rem;

  &:before {
    border: .1rem solid #222222;
    width: calc(100% + 1.8rem);
    height: calc(100% - 1rem);
    left: -.9rem;
    top: .5rem;
  }
}

.btn-video-link {
  border: .1rem solid #222222;
  color: #222222;
  width: 22.9rem;
  height: 6rem;
  font-size: 1.6rem;

  &:before {
    border: .1rem solid #000000;
    width: calc(100% + 1rem);
    height: calc(100% - 1rem);
    left: -.5rem;
  }
}

.btn-footer {
  border: .1rem solid #000000;
  color: #000000;
  width: 31.45rem;
  height: 8.2rem;
  font-size: 1.8rem;

  &:before {
    border: .1rem solid #000000;
    width: calc(100% + 1.15rem);
    height: calc(100% - 1rem);
    left: -.575rem;
    top: .5rem;
  }
}

.btn-social {
  border: .1rem solid #000000;
  width: 5.8rem;
  height: 6.8rem;

  &:before {
    border: .1rem solid #000000;
    width: calc(100% + 1rem);
    height: calc(100% - 1rem);
    left: -.5rem;
  }
}

.btn-header {
  border: .1rem solid #F04D22;
  color: #F04D22;
  width: 22.9rem;
  height: 6rem;
  font-size: 1.6rem;

  &:before {
    border: .1rem solid #F04D22;
  }
}

.btn-form-callback {
  font-size: 1.8rem;
  border: .1rem solid #FFFFFF;
  color: #FFFFFF;
  width: 100%;
  height: 8.2rem;

  &:before {
    border: .1rem solid #FFFFFF;
    width: calc(100% + 1.8rem);
    height: calc(100% - 1rem);
    left: -.9rem;
  }
}

.root {
  background: #FAFAFA;
  overflow: hidden;
}

.slick-prev:before,
.slick-next:before {
  color: #000000;
  width: 3.5rem;
  height: 1.2rem;
  opacity: 1;
}

.slick-next:before {
  content: '';
  background-image: url(/assets/img/arrow.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
}

.slick-prev:before {
  content: '';
  background-image: url(/assets/img/arrow.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  transform: rotate(180deg);
}

.slick-prev,
.slick-next {
  width: 3.5rem;
  height: 1.2rem;
}

.slick-next {
  right: -2rem;
  z-index: 1;
}

.slick-prev {
  left: -2rem;
  z-index: 1;
}

.slick-dots li button {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #A0A0A0;
}

.slick-dots {
  bottom: auto;
  position: static;
  padding: 4.3rem 0 0;

  li {
    &.slick-active {
      button {
        background: #282322;
      }
    }
  }
}



.input-list-item {
  &--selected {
    .message-field {
      font-size: 1.2rem;
      color: #AAAAAA;
      transform: translateY(-180%);
    }
  }
}

.label-position {
  position: relative;
}

.input-item {
  padding: 2.25rem 0;
  border-bottom: .1rem solid #D0D0D0;
  z-index: 2;
  width: 100%;
}

.label-item {
  position: absolute;
  content: "";
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  // left: 3.2rem;
  -webkit-transition: 0.2s;
  transition: 0.2s ease-in-out;
  z-index: 0;
  padding-left: 3rem;
}

.breadcrumps-link {
  position: relative;
  margin-right: 4rem;

  &:last-child {
    margin-right: 0;
  }

  &:before {
    width: 19.5px;
    height: .1rem;
    background: #000000;
    position: absolute;
    content: '';
    right: -2.9rem;
    top: 50%;
  }

  &:last-child {
    color: #949494;

    &:before {
      display: none;
    }
  }
}

.breadcrumps-list {
  font-family: "Cormorant", sans-serif;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 117.5%;
  color: #343434;
  display: flex;
  width: 100%;
  text-align: center;
  justify-content: center;
}

.breadcrumps {
  &__margin-bread {
    margin-top: 20.6rem;
  }
}

h1 {
  font-family: "Cormorant", sans-serif;
  font-weight: 300;
  font-size: 4.8rem;
  line-height: 117.5%;
  letter-spacing: 0.015em;
}