@media all and (max-width: 1780px) {
  .sales-pic {
    max-width: 53rem;
  }

  .wrap-btn-product {
    right: 20%;
  }

  #fixed {
    right: 4rem;
  }
}

@media all and (max-width: 1650px) {
  .wrapper {
    max-width: 124.5rem;
  }

  .size-device {
    padding: 1.6rem 0;
  }

  .product-selection {
    &.wrapper {
      max-width: unset;
    }
  }

  .product-selection-main {


    .left-diamonds {
      left: 0rem;
    }

    .product-selection-wrap {
      padding-left: 10.8rem;
    }

    .right-ring {
      right: 0rem;
    }

  }

  #fixed {
    top: 41rem;
  }

  .size-product-list {
    margin-top: 1.8rem;
    display: grid;
    grid-template: auto/repeat(auto-fill, minmax(7.8rem, 1fr));
    max-width: 63.2rem;
    grid-gap: 1.4rem;
  }

  .sales-item-wrap-text img,
  .sales-var1 .sales-item-wrap img,
  .sales-var2 a img {
    object-fit: contain;
  }

  .ring-right-part {
    right: 41rem
  }

  .ring-left-part {
    right: 45.9rem
  }

  .margin-gold-list.change {
    margin-left: 12rem;
  }

  .wrap-btn-product {
    position: static;
    width: auto;
    display: flex;
    justify-content: flex-end;
  }

  .wrap-item-btn-product {
    max-width: 49rem;
    margin-top: -2rem;
    margin-right: 13%;
  }

  .form-buttons-list__margin-content {
    margin-top: 3.6rem;
  }

  .your-order-list {
    max-width: 57.5rem;
  }

  .product-details-item {
    margin-right: 9.8rem;
  }

  .product-item-desc {
    max-width: 35rem;
  }

  .product-detail-list {
    font-size: 1.6rem;
  }

  .product-details-headline {
    font-size: 3rem;
  }

  .modals-wrap {
    width: 122.4rem;

    .product-selection {
      overflow: hidden;
      margin-top: 8rem;

      .product-selection-wrap {
        padding-left: 5.8rem;
        padding-top: 6rem;

        &.product-selection__margin-content {
          margin-top: 0rem;
        }

      }

      .product-selection-form {
        .info-list-input {
          max-width: 39.7rem;
          width: 100%;
          margin: auto;
          margin-top: 3rem;

        }
      }

      .right-ring {
        max-width: 60.9rem;
        right: -10rem;

        img {
          width: 100%;
          height: 100%;
          object-fit: fill;
        }
      }
    }
  }

  .modals-product .fancybox-close-small {
    height: 7rem;
  }

  .modals-product__margin-content {
    padding-top: 10.5rem;
  }



  .ordering__margin-content {
    margin-top: 4rem;
  }

  .order-headline {
    font-size: 2rem;
  }

  .ordering-wrap__margin-list {
    margin-top: 12rem;
  }

  .your-contacts-list {
    max-width: 57.5rem;
    padding: 4rem 6.7rem 6.8rem 6.7rem;
  }

  .pay-method-list {
    flex-direction: column;
    max-width: 57.5rem;
    align-items: baseline;
  }

  .pay-method-item {
    margin-bottom: 7rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .delivery-method-list {
    max-width: 57.5rem;
    flex-direction: column;

  }

  .ways-to-get-item {
    margin-bottom: 7.4rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .clothes-fitting {
    max-width: 31.1rem;
    width: 100%;
  }

  .pay-order-list {
    font-size: 1.4rem;
    line-height: 5.2rem;
  }

  .pay-order-list-right {
    font-size: 1.6rem;
  }

  .total-amount-list {
    font-size: 2rem;
  }

  .btn-pay {
    height: 5rem;
  }

  .pay-order-list-wrap {
    max-width: 57.5rem;
    padding: 2.7rem 6rem 6rem 6rem;
  }

  .pay-submit-label {
    font-size: 1.2rem;
  }

  .btn-pay-subtext {
    max-width: 16.6rem;
  }

  .ordering-item {
    margin-bottom: 4.4rem;
  }

  .pay-submit-label:before {
    top: 0;
  }

  #fixed {
    max-width: 57.5rem;
  }

  .order-item-headline {
    max-width: 17.8rem;
  }

  .your-order-item {
    max-width: 48.8rem;
  }

  .price-num {
    padding: .5rem 1.1rem;
  }

  .breadcrumps__margin-bread {
    margin-top: 19.1rem;
  }

  .catalog-page__margin-content {
    padding-top: 3rem;
  }

  .catalog-page-wrap__margin-filter {
    margin-top: 6.8rem;
  }

  .catalog-page-wrap__margin-result {
    margin-top: 2.3rem;
  }

  .banner-catalog-vers1 {
    margin-top: 4.2rem;
    margin-bottom: 4.1rem;
  }

  .banner-catalog-vers2-wrap {
    margin-top: 10.3rem;
    margin-bottom: 8.9rem;

    .input-item {
      padding: 1.7rem 0;
    }

    .product-selection {
      .product-selection-wrap {
        .product-selection-form {
          .info-list-input {
            .input-list-item {
              margin-bottom: 1.3rem;
            }
          }

          .btn-product-form {
            margin-top: 3.4rem;
          }
        }
      }

      .left-diamonds {
        left: 0;
      }
    }


  }

  .banner-catalog-vers3-wrap {
    .main-worth {
      .main-worth__margin-content {
        padding-top: 3.9rem;
      }
    }
  }

  .pagination-list-wrap__margin-list {
    margin-top: 6.2rem;
  }

  .recently-viewed__margin-catalog {
    margin-top: 15.4rem;
  }

  .diamonds-back-right {
    top: auto;
    bottom: 0;
  }

  .banner-back-black-right {
    top: 35%;
  }

  .banner-catalog-vers2 .right-ring {
    max-width: 69rem
  }

  .banner-catalog-vers3 {
    margin-bottom: 8rem;
  }

  .sales-text-input:before {
    width: 4rem;
    height: 4rem;
    right: -5rem;
  }

  .new-select {
    padding: .7rem 3.5rem 1.2rem 1.2rem;
  }

  .new-select:after {
    width: 1rem;
    height: 1rem;
    right: 1.7rem;
    top: 1.4rem;
  }

  .catalog-filter-list {
    grid-template: auto/repeat(auto-fill, minmax(28.2rem, 1fr));
    column-gap: 1.4rem;
    row-gap: 1.4rem;
  }

  .banner-back-black {
    max-width: 70.8rem;
    min-height: 34.7rem;
  }

  .banner-back-black-left {
    max-width: 23.8rem;

    h1 {
      font-size: 48px;
    }
  }

  .banner-back-black-wrap {
    padding-top: 8.6rem;
    padding-bottom: 8.6rem;
    padding-left: 7.1rem;
  }

  .banner-catalog-vers2 .product-selection {
    max-width: 136rem;
  }

  .btn-reset {
    width: 4rem;
    height: 4rem;
    border: .1rem solid #000000;

    &:before {
      width: 1rem;
      right: 35%;
    }

    &:after {
      width: 1rem;
      right: 35%;
    }

    p {
      display: none;
    }
  }

  .breadcrumps-list {
    font-size: 1.4rem;
  }

  .headline-pic {
    font-size: 6.4rem;
  }

  .price-text {
    font-size: 1.2rem;

  }

  .price-num {}

  .choise-price-item {
    margin-right: .8rem;
  }

  .filter-catalog-wrap__margin-sales {
    margin-left: 2.7rem;
  }

  .sales-text-input {
    font-size: 1.2rem;
  }

  .popular-product-text {
    font-size: 1.2rem;
  }

  .filter-catalog-wrap__margin-product {
    margin-left: 7.7rem;
  }

  .select {
    max-width: 22.8rem;
    font-size: 1.2rem;
  }

  h1 {
    font-size: 3.2rem;
  }

  .btm-header-list {
    font-size: 1.4rem;
  }

  .btm-header-list li {
    margin-right: 3.5rem;
  }

  .__select {
    font-size: 1.4rem;
    width: 10.6rem;
  }

  .official-salons {
    font-size: 1.4rem;
  }

  .logo-first {
    width: 12rem;
    height: 3.3rem;
  }

  .time-work-header li a {
    font-size: 1.6rem;
  }

  .time-work-header {
    font-size: 1rem;
  }

  .btn-header {
    width: 18.3rem;
    height: 4.8rem;
    font-size: 1.4rem;

    &:before {
      width: calc(100% + .8rem);
      height: calc(100% - .8rem);
      left: -.4rem;
      top: .4rem;
    }
  }

  .sales-num {
    font-size: 9.5rem;
  }

  .sales-description {
    font-size: 3.2rem;
  }

  .action-valid {
    font-size: 1.2rem;
  }

  .link-sales {
    font-size: 1.2rem;
  }

  .sales-item-wrap__margin-desc {
    max-width: 30rem;
  }



  .sales-var2 .sales-description {
    font-size: 3.2rem;
  }

  .sales-var2 .action-valid {
    font-size: 1.2rem;
  }

  .sales-item-wrap-text {
    max-width: 99.3rem;
  }

  .left-side-text {
    font-size: 3.2rem;
  }

  .right-side-text {
    font-size: 1.2rem;
  }

  .gold-list {
    font-size: 6.4rem;
  }

  .margin-gold-list {
    margin-right: 12.9rem;
  }

  .gold-list li {
    margin-bottom: 7.6rem;
  }

  .gold-main-wrap {
    max-width: 104rem;
  }

  .top-right-img {
    // max-width: 50.6rem;
    // max-height: 63.1rem;
    height: 100%;
  }

  .top-right-img img {
    height: 100%;
  }


  .diamonds-list {
    font-size: 6.4rem;
    max-width: 89.6rem;
  }

  .set-cheaper-sublink {
    font-size: 1.2rem;
  }

  .slider-item {
    height: 30.1rem;
  }

  .slider-item-wrap {
    width: 28.2rem;
    padding-top: 1.6rem;
  }

  .slider-pic {
    width: 20.4rem;
    height: 20.4rem;
  }

  .slick-slide img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .slider-description {
    font-size: 1.2rem;
    line-height: 1.8rem;
  }

  .right-ring {
    height: 100%;
  }

  .product-selection-wrap {
    padding-left: 10.8rem;
    padding-top: 9.4rem;
  }

  .left-diamonds {
    left: 0;
  }


  .selection-form-description {
    font-size: 1.2rem;
    line-height: 2rem;
  }

  .product-selection-form {
    max-width: 44.2rem;
  }

  .worth-headline {
    font-size: 7rem;
    line-height: 117.5%;
  }

  .worth-text {
    font-size: 1.2rem;
    line-height: 2.9rem;
  }

  .worth-headline:before {
    width: .9rem;
    height: .9rem;
  }

  .main-worth-wrap {
    max-width: 135rem;
  }

  .inst-photo-wrap {
    align-items: flex-end;
    max-width: 100rem;
    margin: auto
  }

  .inst-photo-wrap__margin-photo {
    padding-bottom: 8.1rem;
  }

  .photo-inst-item {
    max-width: 18.2rem;
  }



  .photo-inst-list {
    max-width: 57.8rem;
  }

  .recently-slider-link {
    width: 22.2rem;
    height: 22.2rem;
  }

  .footer-top-list {
    font-size: 1.4rem;
  }

  .footer-top-list li {
    margin-right: 5.8rem;
  }

  .footer-logo-link .logo-first {
    width: 13.9rem;
    height: 3.8rem;
  }

  .footer-top-wrap {
    height: 9.8rem;
  }

  .footer-nav-list {
    font-size: 1.2rem;
    line-height: 2.9rem;
  }

  .footer-nav-list li:first-child {
    font-size: 1.4rem;
  }

  .btn-footer {
    width: 22.9rem;
    height: 5.97rem;
    font-size: 1.8rem;

    &:before {
      width: calc(100% + .8rem);
      height: calc(100% - .8rem);
      left: -.4rem;
      top: .4rem;
    }
  }

  .footer-salons {
    font-size: 1.21rem;
  }

  .link-vk {
    width: 2.2rem;
    height: 1.2rem;
  }

  .link-inst {
    width: 2rem;
    height: 2rem;
  }

  .btn-social {
    width: 4.2rem;
    height: 4.95rem;
  }

  .btn-social:before {
    width: calc(100% + .8rem);
    height: calc(100% - .5rem);
    top: .25rem;
    left: -.4rem;
  }

  .footer-bottom-list {
    font-size: 1.2rem;
  }

  .top-btm-img {
    max-width: 23rem;
  }

  .top-left-img {
    max-width: 35.2rem;
  }

  .diamonds-main__margin-content {
    padding-top: 6.1rem;
  }

  .diamonds-wrap__margin-list {
    padding-top: 5.7rem;
  }

  .diamonds-wrap {
    padding-bottom: 19.9rem;
  }

  .set-cheaper-wrap__margin-sublink {
    margin-top: 1rem;
  }

  .cheaper-slider__margin-slider {
    margin-top: 8.2rem;
  }

  .slider-item-wrap__margin-text {
    margin-top: 0;
  }

  .old-prie {
    font-size: 1.8rem;
  }

  .new-price {
    font-size: 2.5rem;
  }

  .slick-dots {
    padding-top: 2.5rem;
  }

  .news-item-main__margin-content {
    margin-top: 12.1rem;
  }

  .news-item-slider__margin-slider {
    margin-top: 7.2rem;
  }

  .product-selection__margin-content {
    margin-top: 8rem;
  }
}

@media all and (max-width: 1300px) {
  .top-header-wrap {
    height: 7.3rem;
    max-width: 116.4rem;
    width: 100%;
    margin: auto;
  }

  #fixed {
    right: 3rem;
  }

  .btn-form-feedback {
    height: 6.4rem;
  }

  .feedback-form {
    max-width: 39.7rem;
  }

  .feedback-btn-subtext {
    font-size: 12px;
    line-height: 117.5%;
  }

  .modals-feedback {
    max-width: 62.7rem;
  }

  .feedback-headline-subtext {
    font-size: 12px;
    line-height: 20px;
  }

  .modals-feedback.fancybox-content {
    padding: 10.8rem 9.2rem 8.2rem;
  }

  .catalog-headline .headline-pic {
    font-size: 6.4rem;
  }

  .ring-left-part {
    width: 6.7rem;
    height: 13.1rem;
    right: 44rem;
  }

  .ring-right-part {
    width: 4.6rem;
    height: 13.1rem;
    right: 39.4rem;
  }

  .basket:after {
    height: 100%;
    top: 0;
    margin-top: 0;
    left: -2rem;
  }

  .ordering-wrap {
    &.wrapper {
      max-width: 117rem;
    }
  }

  .filter-catalog {
    width: 100%;
  }

  .filter-catalog-wrap {
    position: relative;
  }

  .btn-reset-filter {
    position: absolute;
    right: 0;
    top: 34%;
  }

  .catalog-page-wrap {
    &.wrapper {
      max-width: 117rem;
    }
  }

  .btm-header-wrap {
    max-width: 116.4rem;
    width: 100%;
    margin: auto;
  }

  .header-general__margin-btm {
    margin-top: 2.4rem;
  }

  .basket {
    bottom: 2rem;
    right: 10rem;
  }

  .basket-svg {
    width: 2.5rem;
    height: 2.5rem;
  }

  .btm-header-list li {
    padding-bottom: 2rem;
  }

  .sales-list-main__padding-main {
    padding-top: 15rem;
  }

  .sales-var2 {
    margin-left: 1rem;
  }

  .sales-item-wrap__margin-desc {
    margin-top: 6.5rem;
  }


  .sales-item-wrap__margin-action {
    margin-top: 1.6rem;

  }

  .sales-item-wrap__margin-link {
    margin-top: 2.7rem;
  }

  .sales-pic {
    top: .6rem;
  }

  .sales-var2__margin-desc {
    margin-top: 10.8rem;
  }

  .sales-var2 .action-valid {
    margin-top: 1.7rem;
  }

  .sales-var3 {
    margin-top: 1.4rem;
    height: 16.7rem;
  }

  .left-side-text {
    padding-bottom: 4.4rem;
  }

  .right-side-text {
    padding-bottom: 3rem;
  }

  .gold-main {
    margin-top: 5rem;
  }

  .gold-main-wrap {
    padding-top: 4.8rem;
    padding-bottom: 8.5rem;
  }

  .gold-main-wrap__margin-list {
    margin-top: 12.8rem;
  }

  .margin-gold-list.change {
    margin-left: 19rem;
  }

  .product-selection-form__margin-text {
    margin-top: 4.3rem;
  }

  .btn-product-form {
    margin-top: 2.8rem;
    max-width: 39.7rem;
  }

  .btn-form-callback {
    height: 6.4rem;

    &:before {
      width: calc(100% + 1.4rem);
      height: calc(100% - .8rem);
      left: -.7rem;
      top: .4rem;
    }
  }

  .product-selection-wrap {
    padding-bottom: 5.8rem;
  }

  .main-worth-wrap {
    max-width: 123rem;
  }

  .worth-text {
    max-width: 42rem;
  }

  .worth-list-item__margin-text {
    margin-top: 6rem;
  }

  .main-worth__margin-content {
    padding-top: 11.4rem;
    padding-bottom: 15.2rem;
  }

  .worth-list__margin-list {
    margin-top: 11.2rem;
  }

  .our-instagram__margin-content {
    padding-top: 6rem;
  }

  .inst-photo-wrap__margin-tel {
    margin-top: 0;
  }

  .inst-photo-wrap {
    position: relative;
    justify-content: flex-end;
  }

  .phone-prev {
    position: absolute;
    left: 0;
    bottom: 0;
  }

  .inst-photo-wrap__margin-photo {
    padding-bottom: 8.1rem;
  }

  .inst-photo-wrap__margin-photo {
    margin-top: 9.2rem;
  }

  .recently-viewed__margin-content {
    margin-top: 11.7rem;
  }

  .footer-main__margin-index {
    margin-top: 12.4rem;
  }

  .footer-top-wrap {
    &.wrapper {
      max-width: 116.5rem;
    }
  }

  .footer-middle-wrap {
    &.wrapper {
      max-width: 116.5rem;
    }
  }

  .footer-middle__margin-content {
    padding-top: 2.7rem;
  }

  .footer-nav-list {
    margin-right: 9rem;
  }

  .footer-nav-list li:first-child {
    margin-bottom: 1.4rem;
  }

  .btn-footer {
    width: 22.9rem;
    height: 5.97rem;
    font-size: 1.8rem;
  }

  .footer-social-list__margin-salon {
    margin-top: 6.7rem;
  }

  .footer-social-list__margis-soc {
    margin-top: 2.8rem;
  }

  .footer-social-link-item {
    margin-right: 2.5rem;
  }

  .footer-bottom-wrap {
    &.wrapper {
      max-width: 116.5rem;
    }
  }

  .footer-bottom-wrap {
    height: 4.6rem;
  }

  .footer-bottom-list li {
    margin-right: 13rem;
  }

}

@media all and (max-width:1200px) {
  .sales-num {
    font-size: 6.1rem;
  }

  // .cheaper-slider-wrap,
  // .news-item-slider-wrap {
  //   .slick-list {
  //     overflow: visible;
  //   }
  // }

  // .recently-viewed-slider {
  //   .slick-list {
  //     overflow: visible;
  //   }
  // }

  .sales-list-main__padding-main {
    padding-top: 10rem;
  }

  #fixed {
    position: static;
  }



  .modals-thanks {
    max-width: 62.7rem;
    padding: 8.4rem 0 5.7rem;
  }

  .fancybox-button {
    width: 30px;
    height: 30px;
  }

  .fancybox-slide--html .fancybox-close-small {
    padding: 0;
    top: 3rem;
    right: 3rem;
  }



  .btm-header-list-item {
    padding-bottom: 10rem;
  }

  .modals-thanks-headline {
    font-size: 30px;
  }

  .modals-tanks-text {
    font-size: 12px;
    line-height: 20px;
  }

  .mob-btm-menu {
    max-width: 66.6rem;
    margin: auto;

    .top-header-right {
      display: block;

    }
  }

  .btn-mob-menu {
    padding-left: 5rem;
  }

  .modals-feedback {
    max-width: 62.7rem;
  }

  .feedback-headline-subtext {
    font-size: 1.2rem;
    line-height: 2rem;
  }

  .wrap-item-btn-product {
    margin-top: 3rem;
  }

  .wrap-item-btn-product {
    max-width: unset;
  }

  .size-device {
    padding: 1.3rem 0;
  }

  .product-specifications-list {
    font-size: 1.4rem;
  }

  .product-price-new {
    font-size: 4rem;
  }

  .product-price-old {
    font-size: 3rem;
  }

  .size-product-headline {
    font-size: 1.4rem;
  }

  .product-details-headline {
    font-size: 2.5rem;
  }

  #fixed {
    position: static;
  }

  .ordering-list {
    max-width: 66.9rem;
    margin: auto;
  }

  .your-order-list,
  .your-contacts-list,
  .pay-method-list,
  .delivery-method-list,
  .pay-order-list-wrap,
  .pay-for-order,
  .order-item-headline,
  .your-order-item {
    max-width: unset;
  }

  #fixed {
    max-width: unset;
  }

  .your-order-item {
    max-width: 59.6rem;
  }

  .ordering__margin-content {
    margin-top: 3.3rem;
  }

  .order-headline {
    font-size: 2.5rem;
  }

  .ordering-wrap__margin-list {
    margin-top: 10rem;
  }

  .your-oreder-item-wrap {
    padding: 2.5rem 0 3.2rem 0;
  }

  .your-oreder-item-wrap__margin-desc {
    margin-left: 2.7rem;
  }

  .order-item-description__margin-price {
    margin-top: 4.6rem;
  }

  .ordering-item {
    margin-bottom: 11rem;
  }

  .your-contacts-list {
    padding: 5.7rem 6.7rem 6.8rem 6.7rem;
  }

  .total-amount-list {
    font-size: 2.8rem;
  }

  .pay-order-list {
    font-size: 1.6rem;
  }

  .modals-wrap .product-selection .right-ring {
    right: 0;
  }

  .modals-wrap .product-selection .product-selection-wrap {
    padding-left: 0;
  }

  .size-product-list {
    max-width: unset;
    grid-template: auto/repeat(auto-fill, minmax(5.5rem, 1fr));
    grid-gap: .7rem;
  }

  .size-product-item {
    font-size: 1.2rem;
  }

  .modals-wrap {
    width: 100%;
  }

  .product-form-wrap__margin-info {
    margin-left: 1.8rem;
  }

  .product-prev {
    max-width: 34.9rem;
    max-height: 37.2rem;
  }

  .modals-product .fancybox-close-small {
    height: 5rem;
  }

  .modals-product .fancybox-close-small:before {
    font-size: 1.6rem;
    top: 30%;
  }

  .modals-product .fancybox-close-small:after {
    top: 40%;
  }

  .product-info-headline {
    font-size: 2.5rem;
  }

  .modals-product__margin-content {
    padding-left: 2.8rem;
    padding-right: 2.8rem;
  }

  .price-filter {
    height: 6.8rem;
    border-top: .1rem solid #E6E6E6;
  }

  .headline-pic {
    font-size: 4.5rem;
  }

  .breadcrumps__margin-bread {
    margin-top: 10.7rem;
  }

  .catalog-page__margin-content {
    padding-top: 2.2rem;
  }

  .catalog-page-wrap__margin-filter {
    margin-top: 3.9rem;
  }

  .catalog-page-wrap__margin-result {
    margin-top: 2.9rem;
  }

  .catalog-filter-result__margin-result {
    margin-top: 2.7rem;
  }

  .banner-catalog-vers3 {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }

  .prices-filter-wrap {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .btn-reset-filter {
    top: auto;
    bottom: 1.2rem;
  }

  .filter-catalog {
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .filter-wrap-sorting {
    padding-top: 1.8rem;
  }

  .filter-catalog-wrap__margin-sales {
    margin-left: 0;
  }

  .catalog-filter-list .slider-item-wrap {
    width: auto;
  }

  .catalog-filter-list {
    grid-template: auto/repeat(3, 1fr);
  }

  .banner-catalog-vers1,
  .banner-catalog-vers2,
  .banner-catalog-vers3 {
    grid-column: span 3;
  }

  .filter-catalog-wrap {
    display: block;
  }

  .header-general__margin-btm {
    margin-top: 0;
  }

  .btn-mob-menu {
    display: block;
  }

  .btn-mob-menu-item {
    display: block;

    &--active {
      &:before {
        transition: transform 0.2s;
        transform: rotate(45deg);
        width: 2.3rem !important;
        bottom: auto;
        top: 0;
      }

      &:after {
        width: 2.3rem;
        transition: transform 0.2s;
        transform: rotate(-45deg);
      }
    }
  }

  .set-cheaper-wrap,
  .news-item-main-wrap,
  .recently-viewed-wrap {

    &.wrapper {
      max-width: 87.5rem;
    }
  }

  .sales-description {
    font-size: 2rem;
  }

  .action-valid {
    font-size: 1rem;
  }

  .sales-pic {
    max-width: 30.7rem;
  }

  .sales-var2 .sales-description {
    h1 {
      font-size: 2rem;
    }
  }

  .action-valid {
    font-size: 1rem;
  }

  .btm-header-wrap {
    display: none;
  }

  .__select {
    font-size: 1.2rem;
    width: 8.7rem;

  }

  .top-header-left {
    flex-direction: column;
  }

  .top-header-wrap__salons-margin {
    margin-left: 0;
    margin-top: 1.2rem;
  }

  .time-work-header {
    font-size: 1.2rem;

    li {
      &:last-child {
        display: none;
      }
    }
  }

  .top-header-right {
    flex-direction: column;
    margin-right: 10rem;

  }

  .basket {
    right: 4rem;
    top: 3.3rem;
  }

  .btn-header {
    width: 14.9rem;
    height: 3.8rem;
    font-size: 1.2rem;

    &:before {
      width: calc(100% + .8rem);
      left: -.4rem;
      height: calc(100% - .4rem);
      top: .2rem;
    }
  }

  .top-header-right__margin-btn {
    margin-left: 0;
    margin-top: 1rem;
  }

  .top-header-wrap {
    height: 8.6rem;
  }

  h1 {
    font-size: 3rem;
  }

  .left-side-text {
    font-size: 2rem;
  }

  .gold-list {
    font-size: 4.5rem;
  }

  .right-ring {
    height: auto;
  }

  .product-selection {}

  .product-selection-wrap {
    padding-left: 0;
    max-width: 44.2rem;
    width: 100%;
    margin: auto;
  }

  .product-selection-main {
    .product-selection-wrap {
      padding-left: 0;
    }
  }

  .worth-headline {
    font-size: 5rem;
  }

  .main-worth-wrap {
    max-width: 90rem;
  }

  .footer-top-wrap.wrapper,
  .footer-middle-wrap.wrapper {
    max-width: 66.6rem;
  }

  .footer-middle-wrap {
    flex-direction: column;
  }

  .footer-social-list {
    margin-top: 7.3rem;
  }

  .footer-salons-link {
    justify-content: flex-start;
  }

  .footer-social-link {
    justify-content: flex-start;
  }

  .footer-social-list__margin-salon {
    margin-top: 2.7rem;
  }

}

@media all and(max-width:1024px) {
  .top-right-img {
    // max-width: 25.7rem;
    // max-height: 44.5rem;
  }

  .sales-item-wrap-text img,
  .sales-var1 .sales-item-wrap img,
  .sales-var2 a img {
    object-fit: cover;
  }

  .btn-pay {
    height: 6rem;
  }

  .catalog-headline .headline-pic {
    font-size: 4.5rem;
  }

  .ring-left-part {
    right: 23rem;
    width: 4.3rem;
    height: 8.5rem;
    top: -1.5rem;
  }

  .ring-right-part {
    top: -1.5rem;
    right: 20rem;
    width: 3rem;
    height: 8.5rem;
  }

  .product-detail-list-item {
    display: block;
  }

  .product-detail-description {
    font-size: 1.2rem;
  }

  .product-detail-list {
    font-size: 1.4rem;
  }

  .modals-product .fancybox-close-small:after {
    left: 47.5%;
  }

  .banner-back-black-right {
    top: 28%;
    max-width: 20.8rem;
  }

  .product-detail-left {
    display: block;
  }

  .product-detail-right {
    position: static;
    display: block;
  }

  .filter-catalog {
    padding-left: 0;
    padding-right: 0;
  }

  .catalog-page-wrap.wrapper {
    max-width: 67.2rem
  }

  .price-num {
    font-size: 1.6rem;
    padding: .6rem 1.8rem;
  }

  .sales-text-input:before {
    width: 3rem;
    height: 3rem;
    top: -.8rem;
  }

  .btn-reset {
    width: 3rem;
    height: 3rem;
  }

  .btn-reset-filter {
    bottom: 1.6rem;
  }

  .catalog-filter-list {
    grid-template: auto/repeat(2, 1fr);
  }

  .banner-catalog-vers1,
  .banner-catalog-vers2,
  .banner-catalog-vers3 {
    grid-column: span 2;
  }

  .banner-back-black {
    max-width: 40.8rem;
  }

  .banner-back-black-left {
    max-width: 15.5rem;
  }

  .banner-catalog-vers2 .product-selection {
    max-width: 102rem;
  }

  .banner-back-black-left h1 {
    font-size: 3rem;
  }

  .sales-var2__margin-desc {
    margin-top: 7.2rem;
  }

  .sales-var2 .action-valid {
    font-size: 1rem;
  }

  .sales-var2 .action-valid {
    margin-top: 1.9rem;
  }

  .sales-var3 {
    margin-top: 1.2rem;
    height: 13.6rem;
  }

  .left-side-text {
    padding-left: 5.8rem;
    padding-bottom: 4.3rem;
  }

  .gold-main {
    margin-top: 2.3rem;
  }

  .gold-main-wrap {
    padding-top: 3.4rem;
  }

  .gold-main-wrap__margin-list {
    margin-top: 8.1rem;
  }

  .gold-list li {
    margin-bottom: 5.4rem;
  }

  .right-side-text {
    max-width: 13.9rem;
    margin-right: 4.1rem;
    padding-bottom: 2rem;
  }

  .sales-var2 {
    flex: 0 1 33.7%;
  }

  .sales-var2 .sales-description {}

  .phone-prev {
    display: none;
  }

  .inst-photo-wrap {
    justify-content: center;
  }

  .top-left-img {
    max-width: 22.7rem;
  }

  .margin-gold-list {
    margin-right: 9.4rem;
  }

  .gold-main-wrap {
    max-width: 73.5rem;
    padding-bottom: 5.8rem;
  }

  .margin-gold-list.change {
    margin-left: 12rem;
  }

  .diamonds-list {
    font-size: 4.5rem;
    max-width: 63.3rem;
  }

  .top-btm-img {
    max-width: 15rem;
  }

  .diamonds-list li::before {
    width: .56rem;
    height: .56rem;
  }


  .sales-item-wrap__margin-desc {
    margin-top: 4.2rem;
    max-width: 17rem;
  }

  .sales-item-wrap__margin-action {
    margin-top: 1.3rem;
  }

  .sales-item-wrap__margin-link {
    margin-top: 1.3rem;
  }

  .sales-pic {
    max-height: 21.3rem;
  }

  .btn-mob-menu-item {
    width: 3.4rem;
    height: .8rem;
    position: relative;

    &:before {
      transition: transform 0.2s;
      position: absolute;
      width: 100%;
      height: .1rem;
      content: '';
      bottom: 0;
      left: 0;
      background: #000000;
    }

    &:after {
      transition: transform 0.2s;
      position: absolute;
      width: 2.3rem;
      height: .1rem;
      content: '';
      top: 0;
      left: 0;
      background: #000000;
    }
  }

  .header-general {
    &.wrapper {
      max-width: 100%;
    }
  }

  .logo-first {
    width: 9.6rem;
    height: 1.8rem;
  }

  .logo-second {
    width: 4.67rem;
    height: .56rem;
  }

  .top-header-left {
    align-items: flex-start;
  }

  // .btn-item:before {
  //   height: 85%;
  //   top: .2rem;
  // }

  .sales-list-main__padding-main {
    padding: 10rem 1rem 0;
  }

  .diamonds-main__margin-content {
    padding-top: 4.5rem;
  }

  .diamonds-wrap__margin-list {
    padding-top: 3.2rem;
  }

  .diamonds-wrap {
    padding-bottom: 4.5rem;


  }

  .set-cheaper-wrap__margin-sublink {
    margin-top: .7rem;
  }

  .slider-item-wrap {
    width: 32.7rem;
  }

  .slider-item {
    height: 34.9rem;
  }

  .slider-pic {
    width: 23.8rem;
    height: 23.8rem;
  }

  .slider-description {
    font-size: 1.4rem;
    line-height: 2.1rem;
  }

  .old-prie {
    font-size: 2rem;
  }

  .new-price {}

  .set-cheaper-wrap.wrapper,
  .news-item-main-wrap.wrapper,
  .recently-viewed-wrap.wrapper {
    max-width: 67.5rem;
  }

  .cheaper-slider__margin-slider {
    margin-top: 5.2rem;
  }

  .slider-item-wrap__margin-price {
    margin-top: 1rem;
  }

  .news-item-main__margin-content {
    margin-top: 10.5rem;
  }

  .news-item-slider__margin-slider {
    margin-top: 6.2rem;
  }

  .product-selection-wrap {
    margin-top: 8.4rem;
    padding-top: 6.1rem;
    padding-bottom: 6.8rem;
  }

  .product-selection-form__margin-text {
    margin-top: 2.7rem;
  }

  .label-item {
    font-family: "Noto Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 117.5%;
    color: #AAAAAA;
  }

  .btn-form-callback {
    height: 6.4rem;
  }

  .btn-form-callback:before {
    height: calc(100% - .8rem);
    top: .4rem;
    width: calc(100% + 1.4rem);
    left: -.7rem;

  }

  .product-form-subtext {
    font-size: 1.2rem;
  }

  .worth-list {
    flex-direction: column;
  }

  .worth-list-item {
    align-items: unset;
  }

  .table-style {
    align-items: flex-start;
  }

  .worth-list__margin-list {
    align-items: flex-end;
    margin-top: 9rem;
  }

  .main-worth-wrap {
    max-width: 66rem;
  }

  .main-worth__margin-content {
    padding-top: 9.2rem;
    padding-bottom: 10.2rem;
  }

  .our-instagram__margin-content {
    padding-top: 6.8rem;
  }

  .inst-photo-wrap__margin-photo {
    margin-top: 7.6rem;
  }

  .photo-inst-item {
    width: 18.2rem;
    max-width: unset;
  }

  .photo-inst-list {
    grid-gap: 1.2rem;
  }

  .inst-photo-wrap__margin-photo {
    padding-bottom: 9.5rem;
  }

  .recently-viewed__margin-content {
    margin-top: 6.8rem;
  }

  .recently-viewed-wrap__margin-slider {
    margin-top: 6rem;
  }

  .footer-main__margin-index {
    margin-top: 8.7rem;
  }

  .footer-middle__margin-content {
    padding-top: 3.2rem;
  }

  .footer-nav-list li:first-child {
    margin-bottom: 2.4rem;
  }

  .btn-footer {
    &:before {
      height: calc(100% - 1rem);
      top: .5rem;
    }
  }

  .btn-social {
    width: 4.2rem;
    height: 4.9rem;
  }

  .footer-social-list__margin-salon {
    margin-top: 3.7rem;
  }

  .btn-social:before {
    height: calc(100% - .4rem);
    width: calc(100% + .9rem);
    top: .2rem;
    left: -.45rem;
  }

  .footer-social-list__margis-soc {
    margin-top: 2.5rem;
  }

  .footer-bottom-wrap {
    height: 6.3rem;
  }

  .footer-bottom-wrap.wrapper {
    max-width: 66.6rem;
  }

}

@media all and(max-width:900px) {
  .banner-catalog-vers2 .product-selection {
    max-width: 90rem;
  }
}

@media all and(max-width:768px) {
  .top-header-wrap {
    justify-content: unset;
  }

  .basket-btn-submit,
  .btn-video-link {
    height: 5rem;
  }

  .modals-product .fancybox-close-small:before {
    left: 45%;
  }

  .form-buttons-list-item {
    width: 50%;
  }

  .btn-video-link {
    width: 100%;
  }

  .modals-product .fancybox-close-small:after {
    left: 42.5%;
  }

  .product-info {
    width: 100%;
    max-width: 34rem;
  }

  .wrap-item-btn-product {
    margin-right: 0;
  }






  .selection-form-description {
    font-size: 1rem;
  }

  .banner-catalog-vers2 .product-selection {
    max-width: 77rem;
  }

  .top-header-left {
    margin-left: 3.7rem;
  }

  .top-header-wrap__salons-margin {
    margin-top: .6rem;
  }

  .logo-top {
    margin-left: 6.6rem;
  }

  .top-header-right {
    margin-left: 5.4rem;
  }

  .mob-btm-menu {
    .top-header-right {
      margin-left: 0;
    }
  }

  .time-work-header li a {
    font-size: 1.2rem;
  }
}

@media all and(max-width: 730px) {
  .sales-pic {
    max-width: 20.7rem;
  }

  .gold-list .tabs__item:after{
    display: none;
  }

  .mob-btm-menu {
    display: block;
  }

  .filter-catalog--active .filter-catalog-wrap {
    padding: 0 1.4rem;
  }

  .btm-header-wrap--active {
    height: 100vh !important;
  }

  .btm-header-list li {
    padding-bottom: 4.8rem;

    &:last-child {
      padding-bottom: 0;
    }
  }

  .table-style {
    align-items: center;
  }

  .tabs {
    margin-top: 2.6rem;
  }

  .worth-headline {
    font-size: 3rem;
  }


  .worth-list__margin-list {
    align-items: center;
  }

  .logo-top {
    margin-left: 4.6rem;
  }

  .top-header-right {
    margin-left: 3.4rem;
  }

  .diamonds-main {
    display: none;
  }

  .ordering-wrap.wrapper {
    max-width: unset;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .gold-list {
    display: grid;
    grid-template: auto/13.6rem 1fr;
    grid-gap: 1rem;
  }

  .tabs__item {

    display: block;
    margin: 0;

    &:first-child {
      grid-area: 1/1/3/2;
    }

    &:nth-of-type(4),
    &:nth-of-type(5) {
      grid-column: span 2;
    }

  }

  .gold-list {
    font-size: 2.5rem;
    line-height: 117.5%;
    color: #000000;
    max-width: 32rem;
    width: 100%;
    margin: auto;

    li {
      a {
        z-index: 10;
        position: relative;
        top: .8rem;
        left: 1.2rem;
      }
    }
  }

  .gold-list1 {
    height: 23.8rem;

    a {
      display: inline-block;
      max-width: 12rem;
      width: 100%;
    }

  }

  .gold-list2 {
    img {
      width: 100%;
      object-fit: contain;
    }
  }

  .gold-list4 {
    height: 9.7rem;
  }

  .gold-list5 {
    height: 9.7rem;
  }

  .margin-gold-list.change {
    margin-left: 0;
  }

  .gold-list li {
    margin-bottom: 0;
  }

  .tabs__content {
    display: none;
  }

  .tabs__content.active {
    display: none;
  }

  .catalog-mob-pic {
    display: block;
  }

  .product-selection-wrap {
    max-width: 33.2rem;
  }

  .product-selection-form {
    width: 100%;
  }

  .set-cheaper-wrap.wrapper,
  .news-item-main-wrap.wrapper,
  .recently-viewed-wrap.wrapper {
    max-width: 53.5rem;
  }
}

@media all and (max-width: 680px) {
  .filter-catalog {
    display: none;
  }

  .sales-var3 {
    height: auto;
    margin-top: 0;
  }

  .sales-var2 {
    margin-left: 0;
  }

  .breadcrumps__margin-bread {
    margin-top: 12.7rem;
  }

  .prev-pag,
  .next-pag {
    display: none;
  }

  .filter-wrap-sorting {
    display: flex;
    flex-direction: column;
  }

  .popular-product {
    order: 0;
  }

  .only-sales {
    order: 1;
  }

  .prices-filter-wrap {
    display: block;
  }

  .choise-price-list {
    margin-top: 1.2rem;
  }

  .modals-feedback {
    max-width: 32rem;
  }

  .modals-feedback.fancybox-content {
    padding: 7.9rem 2.5rem 9.5rem;
  }

  .modals-thanks {
    max-width: 32rem;
    padding: 7.9rem 0 8.9rem;
  }

  .catalog-page-wrap.wrapper {
    max-width: unset;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .catalog-filter-result {
    .catalog-filter-list {
      .slider-item-wrap {
        margin-right: 0;
      }
    }
  }

  .catalog-headline .headline-pic {
    font-size: 3.5rem;
  }

  .ring-left-part {
    right: 25rem;
    width: 4.3rem;
    height: 8.5rem;
    top: -1.5rem;
  }

  .ring-right-part {
    top: -1.5rem;
    right: 22rem;
    width: 3rem;
    height: 8.5rem;
  }

  .modals-thanks-headline {
    font-size: 20px;
  }

  .modals-tanks-text {
    margin-top: 2.9rem;
    font-size: 10px;
    line-height: 20px;
  }

  .modals-thanks-pic {
    margin-top: 6.3rem;
  }

  .mob-btm-menu {
    .top-header-right {
      display: block;
      position: static;
      width: 100%;
      text-align: center;
      margin-top: 3.6rem;
      border-top: .1rem solid #E2E2E2;
      padding-top: 2.7rem;
    }
  }

  .btn-header {
    width: 100%;
  }

  .top-header-right__margin-btn {
    margin-top: 2.1rem;
  }

  .mob-btm-menu {
    max-width: 48rem;
  }

  .your-order-item {
    max-width: unset;
    width: 100%;
    margin-left: 0;
    padding-left: 2rem;
  }

  .product-form-wrap {
    flex-direction: column;
  }

  .product-prev {
    height: 37.2rem;
  }

  .product-info {
    max-width: unset;
  }

  .product-specifications-list {
    max-width: unset;
  }

  .product-form-wrap__margin-info {
    margin-left: 0;
    margin-top: 2rem;
  }

  .modals-product__margin-content {
    padding-top: 7.5rem;
    padding-left: 2.4rem;
    padding-right: 2.4rem;
    padding-bottom: 2.5rem;
  }

  .product-prev img {
    object-fit: cover;
  }

  .your-contacts-list {
    padding: 2.7rem 1.5rem 3.5rem 1.5rem;
  }

  .pay-method-list {
    padding: 1.8rem 1.5rem 3rem;
  }

  .delivery-method-list {
    padding: 5.5rem 1.5rem 3rem;
  }

  .pay-order-list-wrap {
    padding: 2.7rem 1.5rem 5rem;
  }

  .btn-pay-order-wrap {
    flex-direction: column;
    align-items: center;
  }

  .btn-pay-subtext {
    margin-top: 2.4rem;
  }

  .label-method,
  .way-label {
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    white-space: nowrap;
  }

  .total-amount-list {
    font-size: 2rem;
  }

  .pay-order-list {
    font-size: 1.2rem;
  }

  .delivery-date-num {
    font-size: 1.2rem;
  }

  .your-oreder-item-wrap__margin-desc {
    margin-left: 0;
  }

  .filter-catalog-wrap__margin-sales {
    margin-bottom: 1rem;
  }

  .filter-catalog-wrap__margin-product {
    margin-bottom: 1rem;
  }

  .popular-product-text {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .filter-catalog-wrap__btn-margin {
    margin-left: 0;
  }

  .your-oreder-item-wrap {
    display: block;
  }

  .banner-back-black {
    clip-path: polygon(0 0, 0 100%, -149% 100%, 271% 0%, 0% 0);
    max-width: unset;
    width: 100%;
    height: 34.8rem;
  }

  .diamonds-back-right {
    bottom: auto;
    top: 0;
    right: 0;
  }

  .banner-back-black-wrap {
    padding-top: 3rem;
    padding-left: 5.1rem;
  }

  .banner-back-black-right {
    top: auto;
    max-width: 18rem;
    bottom: 3.5rem;
    left: 5.2rem;
    font-size: 1.2rem;
  }

  .banner-catalog-vers2 .product-selection {
    max-width: 68rem;
  }

  .catalog-filter-list .slider-item-wrap {
    margin-right: 2.5rem;
  }

  .worth-headline:before {
    bottom: -2.7rem;
  }

  .footer-top-list {
    font-size: 1.2rem;
  }

  .footer-nav-list li:first-child {
    font-size: 1.2rem;
  }

  .photo-inst-item {
    width: 27rem;
    height: 27rem;
    margin-right: 1rem;
    display: inline-block;
  }

  .btn-mob-menu {
    padding-left: 2.5rem;
  }

  .logo-top {
    margin-left: 5.6rem;
  }

  .basket-svg {
    width: 2.1rem;
    height: 2.1rem;
  }

  .sales-list {
    display: block;
  }

  h1 {
    font-size: 2rem;
  }

  .top-header-left {
    position: absolute;
    bottom: auto;
    z-index: 100;
    top: 0;
    left: 0;
    display: flex;
    width: 100vw;
    flex-direction: row;
    background: #F6F6F6;
    margin-left: 0;
    height: 3.1rem;
    align-items: center;
    padding-left: 2.6rem;
  }

  .top-header-wrap {
    padding-top: 3.1rem;
    height: 10.3rem;
  }

  .basket {
    top: 5.6rem;
    right: 3.7rem;
  }

  .sales-list-main__padding-main {
    padding: 12rem 2.4rem 0;
    padding-bottom: 2rem;
  }

  .sales-num {
    font-size: 4.5rem;
    line-height: unset;
  }

  .sales-item-wrap__margin-desc {
    margin-top: 0.2rem;
  }

  .action-valid {
    max-width: 10rem;
    font-size: 1rem;
  }

  .sales-item-wrap__margin-action {
    margin-top: .8rem;
  }

  .sales-item-wrap__margin-link {
    margin-top: 1.6rem;
  }

  .sales-var1 .sales-item-wrap {
    padding-top: 0;
  }

  .slick-dotted.slick-slider {
    margin-bottom: 0px;
  }

  .inst-photo-wrap__margin-photo {
    margin-left: 2.5rem;
    margin-top: 4.6rem;
  }

  .phone-prev {
    display: block;
    width: 220px;
    height: 267px;
    left: 50%;
    margin-left: -11rem;
  }

  .inst-photo-wrap {
    padding-bottom: 18rem;
  }

  .recently-viewed__margin-content {
    margin-top: 4.8rem;
  }

  .recently-slider-link {
    width: 27rem;
    height: 27rem;
  }

  .recently-viewed-wrap__margin-slider {
    margin-left: 2rem;
    margin-top: 3rem;
  }

  .footer-top-wrap.wrapper,
  .footer-middle-wrap.wrapper {
    max-width: 46.6rem;
  }

  .footer-top-list li {
    margin-right: 3rem;
  }

  .gold-main-wrap {
    padding-top: 1.4rem;
  }

  .gold-main-wrap__margin-list {
    margin-top: .5rem;
  }

  .gold-main-wrap {
    padding-bottom: 0;
  }

  .set-cheaper__margin-content {
    margin-top: 3.9rem;
  }

  .slider-item-wrap {
    width: 27rem;
    margin-left: 1.25rem;
    margin-right: 1.25rem;

    &:first-child {
      margin-left: 0;
    }

  }

  .cheaper-slider-wrap {
    .slick-prev {
      left: -2rem;
    }

    .slick-next {
      right: -2rem;
    }
  }

  .slider-pic {
    width: 18.9rem;
    height: 18.9rem;
  }

  .slider-description {
    font-size: 1.2rem;
    line-height: 1.7rem;
  }

  .cheaper-slider__margin-slider {
    margin-top: 2.2rem;
  }

  .slider-item {
    height: 28.7rem;
  }

  .slick-dots {
    padding-top: 2.2rem;
  }

  .news-item-main__margin-content {
    margin-top: 4.5rem;
  }

  .news-item-slider__margin-slider {
    margin-top: 2.2rem;
  }

  .product-selection-wrap {
    margin-top: 2.4rem;
  }

  .product-selection-wrap {
    max-width: 27rem;
    padding-top: 0.1rem;
    padding-bottom: 18.8rem;
  }

  .main-worth__margin-content {
    padding-top: 3.5rem;
  }

  .worth-list-item__margin-text {
    margin-top: 4rem;
  }

  .worth-list__margin-list {
    margin-top: 7.7rem;
  }

  .our-instagram__margin-content {
    padding-top: 2.7rem;
  }

  .product-selection-form {
    max-width: 27rem;
    margin: auto;
    padding-top: 4.4rem;
  }

  .photo-inst-list {
    display: block;
  }



  .top-header-wrap__salons-margin {
    margin-top: 0;
    margin-left: 3rem;
  }

  .top-header-right {
    display: none;
    position: absolute;
    bottom: 1rem;
    z-index: 100;
    left: 4rem;
  }

  .btm-header-wrap--active .btm-header-list {
    max-width: 48rem;
    padding-bottom: 1rem;
  }

  .top-header-right {
    margin-left: 4rem;
  }

  .btm-header-list-item {
    padding-bottom: 10rem;
  }

  .header-general.wrapper {
    max-width: 100%;
  }

  .filter-catalog-wrap {
    border: none;
  }

  .btn-filter-mobile {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .sales-text-input:before {
    background: #F4F4F4;
  }

  .btn-reset-filter {
    position: static;

    p {
      display: inline-block;
    }
  }

  .filter-catalog-wrap {
    height: auto;
  }

  .btn-reset {
    width: max-content;
    height: auto;
    border: none;
  }

  .btn-reset-filter {
    padding: 1.5rem 0;
    border-top: .1rem solid #E6E6E6;
    border-bottom: .1rem solid #E6E6E6;
    display: flex;
    justify-content: center;
    margin-top: 4rem;
  }

  .btn-reset:before {
    right: -2rem;
  }

  .btn-reset:after {
    right: -2rem;
  }

  .price-filter {
    width: 100%;
    overflow: scroll;
  }

  .sales-text-input:before {}

  .prices-filter-wrap {}

  .catalog-filter-list {
    grid-template: auto/repeat(1, 1fr);
  }

  .banner-catalog-vers1,
  .banner-catalog-vers2,
  .banner-catalog-vers3 {
    grid-column: span 1;
  }

  .breadcrumps-list {
    font-size: 1.2rem;
  }

  .headline-pic {
    font-size: 2.5rem;
  }
}

@media all and (max-width: 570px) {
  .banner-catalog-vers2 .product-selection {
    max-width: 57rem;
  }

  .btn-pay {
    height: 5rem;
  }

  .modals-wrap .left-diamonds {
    display: none;
  }

  .modals-wrap .product-selection .right-ring {
    display: none;
  }

  .set-cheaper-wrap.wrapper,
  .news-item-main-wrap.wrapper,
  .recently-viewed-wrap.wrapper {
    max-width: unset;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }
}

@media all and (max-width:480px) {
  .btm-header-wrap--active .btm-header-list {
    max-width: 27rem;
    padding-top: 3.4rem;
  }

  .recently-viewed-wrap__margin-slider {
    margin-left: 0;
  }



  .ways-to-pay {
    flex-wrap: wrap;
  }

  .way-label {
    padding: 1.3rem 2rem;
  }

  .catalog-headline .headline-pic {
    font-size: 2.5rem;
  }

  .product-price-wrap {
    flex-direction: column;
  }

  .product-price-item {
    min-width: 10rem;
    width: min-content;
    margin-bottom: 3rem;
  }

  .size-product {
    margin-top: 3rem;
  }

  .product-price-old {
    order: 0;
  }

  .product-price-new {
    order: 1;
  }

  .ring-left-part {
    right: 18rem;
    width: 2.5rem;
    height: 5rem;
    top: -1rem;
  }

  .ring-right-part {
    top: -1rem;
    right: 16.2rem;
    width: 1.8rem;
    height: 5rem;
  }


  .mob-btm-menu {
    max-width: 27rem;
  }

  .modals-wrap .product-selection .product-selection-wrap .product-selection-form {
    max-width: unset;
    padding-left: 1.9rem;
    padding-right: 1.9rem;
  }

  .modals-wrap .product-selection {
    margin-top: 3rem;
  }

  .modals-product .fancybox-close-small:before {
    left: 40%;
  }

  .modals-product .fancybox-close-small:after {
    left: 35.5%;
  }

  .product-prev {
    width: 27.2rem;
    height: 29rem;
  }

  .form-buttons-wrap-list {
    flex-direction: column;
  }

  .form-buttons-list-item {
    width: 100%;
  }

  .form-buttons-list-item {
    margin-right: 0;
  }

  .basket-btn-submit {
    margin-top: 2.6rem;
  }

  .product-details-wrap {
    flex-direction: column;
  }

  .product-details-item {
    margin-right: 0;
  }

  .product-details-item {
    margin-bottom: 3.5rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .desc-modal {
    margin-top: 1.3rem;
  }

  .product-specifications-list {
    font-size: 1.2rem;
  }

  .same-model__margin-content {
    margin-top: 2.3rem;
  }

  .same-model-slider__slider-margin {
    margin-top: 2.1rem;
  }

  .product-price-new {
    font-size: 3rem;
  }

  .free-shipping__margin-content {
    margin-top: 0;
  }

  .form-buttons-list__margin-content {
    margin-top: 3rem;
  }

  .same-model-slider-wrap {
    .slider-item-wrap {
      margin-left: 0;
    }
  }

  .modals-wrap .product-selection .product-selection-wrap {
    padding-top: 0;
  }

  .order-item-headline {
    padding-right: 2rem;
  }



  .banner-catalog-vers3-wrap {
    .main-worth {
      .main-worth-wrap {
        max-width: 27rem;
      }
    }
  }

  .banner-catalog-vers2 .product-selection {
    max-width: 48rem;
  }

  .btm-header-wrap--active .btm-header-list {
    padding-top: 3.4rem;
  }

  .header-general.wrapper {
    max-width: 100%;
  }

  .footer-top-wrap {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-bottom: 2.5rem;
  }

  .footer-top-list {
    flex-direction: column;
    order: 1;
    padding-top: 4rem;

    li {
      margin-bottom: 2.4rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  .footer-middle__margin-content {
    padding-top: 2.7rem;
  }

  .footer-top-wrap.wrapper,
  .footer-middle-wrap.wrapper {
    max-width: unset;
    padding-left: 2.5rem;
    padding-right: 2.5rem;
  }

  .footer-top-wrap.wrapper {
    padding-top: 3.9rem;
  }

  .footer-list-wrap {
    display: flex;
    flex-direction: column;
  }

  .footer-nav-list li:first-child {
    margin-bottom: 1.1rem;
  }

  .footer-nav-list {
    margin-right: 0;
    margin-bottom: 4rem;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .btn-footer {
    height: 6rem;
    width: 26rem;
  }

  .btn-footer:before {
    height: calc(100% - .8rem);
    top: .4rem;
  }

  .footer-social-list {
    margin-top: 3.3rem;
  }

  .footer-social-list__margin-salon {
    margin-top: 3.4rem;
  }

  .footer-social-list__margis-soc {
    margin-top: 3.5rem;
  }

  .footer-bottom-wrap.wrapper {
    width: 100%;
    max-width: unset;
    padding-left: 2.5rem;
  }

  .footer-bottom-list {
    display: block;
    padding-top: 3.3rem;

    li {
      display: block;
      margin-bottom: 2.7rem;
    }
  }

  .footer-bottom-wrap {
    height: auto;
  }
}

@media all and (max-width: 370px) {

  .set-cheaper-wrap.wrapper,
  .news-item-main-wrap.wrapper,
  .recently-viewed-wrap.wrapper {
    max-width: unset;
  }

  .label-method{
    white-space: unset;
  }

  .ring-left-part {
    right: 10rem;
    width: 2.5rem;
    height: 5rem;
    top: -1rem;
  }

  .ring-right-part {
    top: -1rem;
    right: 8.2rem;
    width: 1.8rem;
    height: 5rem;
  }
}

@media all and (max-width:320px) {
  .banner-catalog-vers2 .product-selection {
    max-width: 34rem;

  }
}