.modals {
  display: none;
  width: 100%;
}

.modals-wrap {
  max-width: 175.5rem;
  width: 100%;
  margin: auto;

  &__margin-desc {
    margin-top: 6.3rem;
  }

  .product-selection-wrap {
    padding: 6.9rem 0 4.9rem 11.5rem;
  }

  .left-diamonds {
    left: 0;
  }
}

.modals-product {
  position: relative;

  &__margin-content {
    padding-top: 18.5rem;
    padding-left: 7.75rem;
    padding-right: 7.75rem;
    padding-bottom: 7.75rem;
  }

  .fancybox-close-small {
    top: 0 !important;
    opacity: 1;
    position: fixed;
    left: 0;
    width: 100%;
    height: 8.4rem;
    background: white;
    padding: 0;
    @include flexible();

    svg {
      display: none;
    }

    &:before {
      position: absolute;
      font-family: "Cormorant", sans-serif;
      font-weight: bold;
      font-size: 1.8rem;
      line-height: 117.5%;
      color: #343434;
      content: 'Вернуться назад';
      top: 40%;
      left: 50%;
    }

    &:after {
      position: absolute;
      content: '';
      top: 49%;
      left: 48.5%;
      background-image: url(/assets/img/modals-back.svg);
      width: 1.4rem;
      height: .7rem;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  &.fancybox-content {
    padding: 0;
    background: #E5E5E5;
  }
}

.product-prev {
  max-width: 64.4rem;
  max-height: 72.6rem;
  height: 100%;
  width: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.product-info {
  width: 100%;

  &__margin-spec {
    margin-top: 2rem;
  }
}

.product-info-headline {
  font-family: "Cormorant", sans-serif;
  font-weight: bold;
  font-size: 3rem;
  line-height: 157%;
  letter-spacing: -0.02em;
  color: #000000;
}

.product-form {
  position: relative;
}

.product-form-wrap {
  display: flex;

  &__margin-info {
    margin-left: 5.6rem;
  }
}

.wrap-btn-product {
  position: absolute;
  bottom: 0;
  right: 25%;
  width: 50.2rem;
}

.wrap-item-btn-product {
  width: 100%;
}



.product-specifications-list {
  font-family: "Noto Sans", sans-serif;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 174.5%;
  text-transform: uppercase;
  color: #A0A0A0;
  max-width: 44.4rem;
  width: 100%;

  li {
    width: 100%;
    position: relative;
    margin-bottom: 1rem;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.specifications-right {
  color: #464646;
  position: absolute;
  right: 0;
  top: 0;
}

.product-price {
  &__margin-content {
    margin-top: 5rem;
  }
}

.product-price-wrap {
  font-family: "Cormorant", sans-serif;
  font-weight: 300;
  line-height: 117.5%;
  letter-spacing: 0.015em;
  display: flex;
}

.product-price-new {
  color: #322A28;
  font-size: 5rem;
}

.product-price-old {
  color: #848484;
  font-size: 4rem;
  position: relative;

  &:before {
    position: absolute;
    width: 100%;
    content: '';
    background: #848484;
    top: .8rem;
    left: 0;
    height: .1rem;
    transform: rotate(-12deg);
  }
}

.product-price-item {
  margin-right: 5.7rem;

  &:last-child {
    margin-right: 0;
  }
}

.size-product {
  margin-top: 5.7rem;

}

.size-product-headline {
  font-family: "Noto Sans", sans-serif;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 174.5%;
  text-transform: uppercase;
  color: #A0A0A0;
}

.size-product-list {
  margin-top: 1.8rem;
  display: grid;
  grid-template: auto/repeat(auto-fill, minmax(10.5rem, 1fr));
  max-width: 82rem;
  grid-gap: 1.4rem;
}

.size-product-item {
  font-family: "Noto Sans", sans-serif;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 117.5%;
  text-align: center;
  color: #000000
}

.checkbox-size {
  display: none;

  &:checked {
    &+.size-device {
      background: #F04D22;
      color: white;
    }
  }
}

.size-device {
  display: block;
  background: white;
  padding: 2.4rem 0;
}

.free-shipping {
  &__margin-content {
    margin-top: 3.1rem;
  }
}

.free-shipping-wrap {
  font-family: "Cormorant", sans-serif;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 117.5%;
  color: #343434;
}

.product-item-desc {
  max-width: 42.2rem;
  width: 100%;
}

.product-details-wrap {
  display: flex;
}

.product-details-item {
  margin-right: 27.8rem;

  &:last-child {
    margin-right: 0;
  }
}

.product-item-desc-v2 {
  max-width: 48.5rem;
  width: 100%;
}

.desc-modal {
  margin-top: 2.5rem;
}

.same-model {

  &__margin-content {
    margin-top: 8.1rem;
  }
}

.same-model-headline {
  font-family: "Cormorant", sans-serif;
  font-weight: 300;
  font-size: 4.8rem;
  line-height: 117.5%;
  letter-spacing: 0.015em;
  color: #322A28;
  text-align: center;
}

.same-model-slider {
  &__slider-margin {
    margin-top: 5.2rem;
  }
}

.feedback-form-wrap {
  &__margin-input {
    margin-top: 4.5rem;
  }
}

.modals-feedback {
  max-width: 109.3rem;
  width: 100%;
  background: #FAFAFA;
  box-shadow: 0px 90px 180px rgba(0, 0, 0, 0.05);

  &.fancybox-content {
    padding: 9.1rem 1rem 9.7rem;
  }


}

.modals-feedback-headline {
  font-family: "Cormorant", sans-serif;
  font-weight: 300;
  font-size: 4.8rem;
  line-height: 117.5%;
  letter-spacing: 0.015em;
  color: #322A28;
  text-align: center;
}

.feedback-headline-subtext {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.8rem;
  line-height: 4rem;
  text-align: center;
  text-transform: uppercase;
  color: #222222;
  max-width: 66.9rem;
  width: 100%;
  margin: auto;
}



.feedback-btn-subtext {
  font-family: "Noto Sans", sans-serif;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 117.5%;
  text-align: center;
  color: #AAAAAA;
  max-width: 32.1rem;
  width: 100%;
  margin: auto;

  a {
    display: inline;
    color: #F04D22;
  }
}

.modals-feedback-wrap {

  &__margin-subtext {
    margin-top: 4rem;
  }
}

.feedback-form {
  max-width: 51rem;
  width: 100%;
  margin: auto;

  .info-list-input {
    font-family: "Noto Sans", sans-serif;
    font-weight: normal;
  }

  .input-item {
    padding-top: 4.3rem;
    padding-left: 3rem;

    font-size: 1.6rem;
    line-height: 117.5%;
    color: #222222;

    .label-item {
      color: #777777;
    }
  }


  &__margin-btn {
    margin-top: 6.2rem;
  }

  &__margin-sub {
    margin-top: 2.7rem;
  }
}

.product-selection {
  &.product-modal {
    .right-ring {
      max-width: 67.7rem;
      width: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }

    .left-diamonds {
      bottom: 0;
      left: 0;
    }
  }
}

.modals-thanks {
  max-width: 109.3rem;
  width: 100%;
  padding: 0;
  padding: 9.1rem 0 12.7rem;
}

.modals-thanks-headline {
  font-family: "Cormorant", sans-serif;
  font-weight: 300;
  font-size: 4.8rem;
  line-height: 117.5%;
  letter-spacing: 0.015em;
  color: #322A28;
}

.modals-tanks-text {
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #222222;

  margin-top: 4rem;
}

.modals-thanks-wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modals-thanks-pic {
  margin-top: 6.4rem;
}

.fancybox-slide--html .fancybox-close-small {
  padding: 0;
  top: 4rem;
  right: 4rem;
}

.free-shipping-hide-text {
  display: none;
  margin-top: 1rem;
}

.free-shipping-toggle {
  border-bottom: .1rem dashed #C3C3C3;
  position: relative;

  &:before {
    right: -1.5rem;
    top: 50%;
    margin-top: -.5rem;
    position: absolute;
    content: '';
    width: .7rem;
    height: .7rem;
    border-top: 1px solid #343434;
    border-right: 1px solid #343434;
    transform: rotate(135deg);
  }
}

.test-gold {
  display: inline;
  color: #F04D22;
}

.modals-product.fancybox-content {
  background: #f3f3f3;
}

