.svgsprite {
    display:inline-block;
    width:1em;
    height:1em;
    fill:currentColor;
    vertical-align:middle;

    &._altin {
    	font-size:(37/10)*1rem;
    	width:(191/37)*1em;
    }
    &._arrow {
    	font-size:(7/10)*1rem;
    	width:(14/7)*1em;
    }
    &._basket {
    	font-size:(31/10)*1rem;
    	width:(31/31)*1em;
    }
    &._ellipse {
    	font-size:(47/10)*1rem;
    	width:(102/47)*1em;
    }
    &._gold {
    	font-size:(12/10)*1rem;
    	width:(93/12)*1em;
    }
    &._inst {
    	font-size:(28/10)*1rem;
    	width:(28/28)*1em;
    }
    &._vk {
    	font-size:(17/10)*1rem;
    	width:(31/17)*1em;
    }
}