.ordering-headline {
  font-family: "Cormorant", sans-serif;
  font-weight: 300;
  font-size: 4.8rem;
  line-height: 117.5%;
  letter-spacing: 0.015em;
  color: #322A28;
  text-align: center;
}

.ordering {
  &__margin-content {
    margin-top: 4.5rem;
  }
}

.order-headline {
  font-family: "Cormorant", sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  line-height: 117.5%;
  color: #000000;
}

.order-amount {
  color: #BEBEBE;
  display: inline;
}

.order-item-prev {
  width: 19.4rem;
  height: 15.8rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.order-item-headline {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.4rem;
  line-height: 2.5rem;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #1C1C1C;
}

.order-item-size {
  font-family: "Noto Sans", sans-serif;
  font-weight: normal;
  font-size: 1.2rem;
  line-height: 2.5rem;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #A0A0A0;
  display: flex;
}

.item-size-num {
  color: #131313;
  margin-left: 1.1rem;
}

.order-item-price {
  display: flex;
  font-family: "Cormorant", sans-serif;
  font-weight: 300;
  line-height: 117.5%;
  letter-spacing: 0.015em;

  &__margin-new {
    margin-left: 2.1rem;
  }
}

.order-item-old {
  color: #848484;
  font-size: 2.5rem;
  position: relative;

  &:before {
    position: absolute;
    content: '';
    width: 100%;
    height: .1rem;
    background: #848484;
    top: 0.5rem;
    right: 0rem;
    transform: rotate(-13deg);
  }
}

.order-item-new {
  color: #322A28;
  font-size: 3.5rem;
}

.your-order-list {
  max-width: 79rem;
  width: 100%;
  max-height: 41.6rem;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  background: white;




}

#element::-webkit-scrollbar {
  width: 2px;
  background-color: #FFFFFF;
}

#element::-webkit-scrollbar-thumb {

  background-color: #F04D22;
  ;
}

#element::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #FFFFFF;
}


.your-order-item {
  max-width: 62.2rem;
  width: 100%;
  border-bottom: .1rem solid #DDDDDD;
  margin-left: 4.3rem;
  display: block;

}

.your-oreder-item-wrap {
  padding: 3rem 0 3.2rem 0;

  display: flex;

  &__margin-desc {
    margin-left: 3.7rem;
  }
}

.order-item-description {
  &__margin-headline {
    margin-top: 2.2rem;
  }

  &__margin-size {
    margin-top: .7rem;
  }

  &__margin-price {
    margin-top: 2.9rem;
  }
}

.your-order-wrap {
  &__margin-content {
    margin-top: 3.2rem;
  }
}

.ordering-wrap {
  position: relative;

  &__margin-list {
    margin-top: 7.9rem;
  }
}

.your-contacts {}

.your-contacts-list {
  max-width: 79rem;
  width: 100%;
  background: white;
  padding: 6.5rem 0 9.55rem 7.1rem;
  font-family: "Noto Sans", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 117.5%;

  .info-list-input {
    max-width: 51rem;
    width: 100%;

    .input-list-item {
      margin-bottom: 3.6rem;

      &.input-list-item--selected {
        .input-item {
          transition: border-bottom 0.2s;
          border-bottom: .1rem solid #222222;
        }
      }

      .label-item {
        color: #B9B9B9;
      }

      &--selected {
        .message-field {
          transform: translateY(-250%);
        }
      }

      &:last-child {
        margin-bottom: 0;
      }

      .input-item {
        font-family: "Noto Sans", sans-serif;
        font-weight: normal;
        font-size: 1.6rem;
        line-height: 117.5%;
        padding-left: 3.5rem;
        color: #222222;
      }
    }
  }
}

.your-contacts-wrap {

  &__margin-content {
    margin-top: 3.2rem;
  }
}

.ordering-item {
  margin-bottom: 6rem;

  &:last-child {
    margin-bottom: 0;
  }
}

.pay-method-list {
  background: white;
  padding: 4.7rem 4.7rem;
  display: flex;
  justify-content: space-between;
  max-width: 79rem;
  width: 100%;
}

.label-done {
  display: none;
}

.label-method {
  display: block;
  background: #FAFAFA;
  font-family: "Noto Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 2rem;
  line-height: 117.5%;
  text-transform: uppercase;
  color: #000000;
  padding: 1.3rem 2rem;
  cursor: pointer;
}

.pay-method-checkbox {
  display: none;
}

.ways-to-pay {
  margin-top: 4.5rem;
  display: flex;

  span {
    margin-right: 1.6rem;

    &:last-child {
      margin-right: 0;
    }
  }
}

.ways-to-pay-text {
  font-family: "Noto Sans", sans-serif;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 27px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #A0A0A0;
  margin-top: 1rem;
  max-width: 28rem;
  width: 100%;
}

.pay-method-checkbox {

  &:checked {
    &+.label-method {
      background: #F04D22;
      color: white;
      display: flex;
      align-items: center;

      .label-done {
        display: block;
        margin-right: 1rem;
      }
    }
  }
}

.pay-method-wrap {
  &__margin-headline {
    margin-top: 3.2rem;
  }
}

.delivery-method-list {
  background: white;
  padding: 4.7rem 4.7rem;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  max-width: 79rem;
  width: 100%;
  margin-top: 3.2rem;
}



.way-checkbox {
  display: none;

  &:checked {

    &+.way-label {
      color: #FFFFFF;
      background: #F04D22;
      display: flex;
      align-items: center;

      .label-done {
        display: block;
        margin-right: 1rem;
      }

    }
  }
}

.way-label {
  display: block;
  padding: 1.3rem 3rem;
  background: #FAFAFA;
  font-family: "Noto Sans", sans-serif;
  font-weight: normal;
  font-size: 2rem;
  line-height: 117.5%;
  text-align: right;
  text-transform: uppercase;
  color: #000000;
  cursor: pointer;
}

.delivery-date {
  margin-top: 2.1rem;
}

.delivery-date-num {
  display: block;
  font-family: "Noto Sans", sans-serif;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 2.7rem;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #F04D22;
  border: .1rem solid #F04D22;
  padding: 1rem;
}

.clothes-fitting {
  margin-top: 1.4rem;

  .info-list-input {

    .input-list-item {

      .label-item {
        font-family: "Noto Sans", sans-serif;
        font-weight: normal;
        font-size: 1.6rem;
        line-height: 117.5%;
        color: #B9B9B9;
        padding-left: 2rem;
      }

      .input-item {
        padding-top: 3.6rem;
        padding-bottom: 2.2rem;
        font-family: "Noto Sans", sans-serif;
        font-weight: normal;
        font-size: 1.6rem;
        line-height: 117.5%;
        color: black;
        padding-left: 2rem;
      }
    }
  }
}

.ways-to-get-item {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.way-to-get-text {
  margin-top: 1.9rem;
  font-family: "Noto Sans", sans-serif;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 2.7rem;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #A0A0A0;
  max-width: 24.3rem;
  width: 100%;
}

#fixed {
  position: fixed;
  top: 40rem;
  right: 9rem;
  max-width: 79rem;
  width: 100%;
}


.pay-order-list-wrap {
  max-width: 79rem;
  margin-top: 3.2rem;
  width: 100%;
  background: #FFFFFF;
  padding: 3.6rem 6.1rem 4.7rem 6.1rem;
}

.pay-order-list {
  width: 100%;
  font-family: "Noto Sans", sans-serif;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 5.2rem;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  position: relative;

  &:before {
    position: absolute;
    content: '';
    width: 100%;
    height: .1rem;
    background: #DDDDDD;
    bottom: 0rem;
    right: 0;
  }

  li {
    position: relative;
  }

}

.pay-order-list-left {
  color: #A0A0A0;
  font-size: 1.6rem;
}

.pay-order-list-right {
  color: #000000;
  font-size: 2rem;
  position: absolute;
  top: 0;
  right: 0;
}

.total-amount-list {
  margin-top: 2.2rem;
  font-family: "Noto Sans", sans-serif;
  font-weight: normal;
  font-size: 2.8rem;
  line-height: 5.2rem;
  letter-spacing: 0.15em;
  text-transform: uppercase;

  li {
    position: relative;
  }
}

.total-amount-right {
  position: absolute;
  top: 0;
  right: 0;
  color: #F04D22;
}

.btn-pay-order-wrap {
  margin-top: 4.1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn-pay {
  width: 22.9rem;
  height: 6rem;
  background: #F04D22;
  @include flexible();
  font-family: "Cormorant", sans-serif;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 117.5%;
  color: #FFFFFF;
}

.pay-submit-label {
  position: relative;
  font-family: "Noto Sans", sans-serif;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 117.5%;
  color: #BDBDBD;

  &:before {
    position: absolute;
    content: '';
    top: -.5rem;
    left: -3.7rem;
    width: 2.7rem;
    height: 2.7rem;
    background-color: #FAFAFA;
  }

  a {
    display: inline;
    color: #F04D22;
  }
}

.pay-checkbox {
  display: none;

  &:checked {
    &+.pay-submit-label {
      &:before {
        background-image: url(/assets/img/done-basket.svg);
        background-position: center;
        background-repeat: no-repeat;
      }
    }
  }
}

.ordering-list {
  position: relative;
}

.way-free-ship {
  font-family: "Noto Sans", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #1C1C1C;
  margin-top: 2rem;
}

.clothes-fitting-headlne {
  font-family: "Noto Sans", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #A0A0A0;
}

.scroll {
  top: 20rem !important;
}

.pay-method-item{

}

.left-method-pay{
  display: flex;
  flex-direction: column;
  align-items:flex-start;
}