.catalog-headline {
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 1;

  .headline-pic {
    font-family: "Cormorant", sans-serif;
    line-height: 117.5%;
    color: #000000;
    font-weight: bold;
    font-size: 7.2rem;
  }


}

.ring-left-part {
  position: absolute;
  content: '';
  top: -2rem;
  right: 63.9rem;
  width: 7.1rem;
  height: 14rem;
  z-index: 2;

}

.ring-right-part {
  position: absolute;
  content: '';
  top: -2rem;
  right: 59rem;
  width: 4.9rem;
  height: 14rem;
  z-index: -1;

}

.catalog-page {

  &__margin-content {
    padding-top: 5.3rem;
  }
}

.price-text {
  font-family: "Noto Sans", sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 25px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #525252;
  width: min-content;
  margin-right: 1.5rem;
}

.checkbox-item {
  display: none;

  &:checked {
    &+.price-num {
      color: #FFFFFF;
      background: #F04D22 !important;
    }
  }
}

.price-num {
  font-family: "Cormorant", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 117.5%;
  letter-spacing: 0.015em;
  color: #322A28;
  padding: 1rem 2.8rem;
  background: #FFFFFF;
  display: block;
  cursor: pointer;
}

.prices-filter-wrap {
  display: flex;
  align-items: center;
}

.choise-price-list {
  display: flex;
}

.choise-price-item {
  margin-right: 1.5rem;
  white-space: nowrap;

  &:last-child {
    margin-right: 0;
  }
}

.sales-check {
  display: none;

  &:checked {
    &+.sales-text-input {
      &:before {
        background-image: url(/assets/img/done.svg);
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
}

.sales-text-input {
  font-family: "Noto Sans", sans-serif;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 2.5rem;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #525252;
  position: relative;
  cursor: pointer;

  &:before {
    position: absolute;
    content: '';
    width: 5rem;
    height: 5rem;
    background: #fff;
    top: -1.5rem;
    right: -6.5rem;
  }
}

.filter-catalog-wrap {
  display: flex;
  align-items: center;
  height: 12.7rem;
  border-top: .1rem solid #E6E6E6;
  border-bottom: .1rem solid #E6E6E6;


  &__margin-sales {
    margin-left: 6.9rem;
  }

  &__margin-product {
    margin-left: 13.6rem;
  }

  &__btn-margin {
    margin-left: 2rem;
  }
}

.select {
  display: block;
  max-width: 26.7rem;
  width: 100%;
  position: relative;
  font-family: "Noto Sans", sans-serif;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 179%;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #322A28;
}

.filter-catalog {

  &--active {
    display: block !important;
    background: white;

    .filter-catalog-wrap {
      padding: 0 5rem;
      height: auto;
      padding-bottom: 2.3rem;

      .price-filter {
        .prices-filter-wrap {
          .choise-price-list {
            .choise-price-item {
              .price-num {
                background: #F4F4F4;
              }
            }
          }
        }
      }

      .filter-wrap-sorting {
        display: block;

        .popular-product {
          margin-left: 0;

          .popular-product-wrap {
            display: block;

            .select {
              .new-select {
                background: #F4F4F4;
              }
            }
          }

        }
      }
    }
  }
}

.new-select {
  position: relative;
  padding: 1.2rem 4.5rem 1.2rem 1.9rem;
  cursor: pointer;
  user-select: none;
  background: #fff;
  white-space: nowrap;
}

.new-select__list {
  position: absolute;
  top: 45px;
  left: 0;
  border: 1px solid #ced4da;
  cursor: pointer;
  width: 100%;
  z-index: 2;
  background: #fff;
  user-select: none;
}

.new-select__list.on {
  display: block;
}

.new-select__item span {
  display: block;
  padding: 1rem;
}

.new-select__item span:hover {
  color: #F04D22;
}

.new-select:after {
  content: '';
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  ;
  position: absolute;
  right: 2rem;
  top: 1.7rem;
  background: url(/assets/img/v.svg) no-repeat right center / contain;
  -webkit-transition: all .27s ease-in-out;
  -o-transition: all .27s ease-in-out;
  transition: all .27s ease-in-out;

  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
}

.new-select.on:after {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.popular-product-text {
  font-family: "Noto Sans", sans-serif;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 2.5rem;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #525252;
  white-space: nowrap;
  margin-right: 2.4rem;
}

.popular-product-wrap {
  display: flex;
  align-items: center;

  &__margin-list {
    margin-left: 2.4rem;
  }
}

.btn-reset {
  font-family: "Cormorant", sans-serif;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 117.5%;
  color: #343434;
  position: relative;

  &:before {
    position: absolute;
    content: '';
    right: -1.4rem;
    width: .7rem;
    height: .1rem;
    top: 50%;
    transform: rotate(45deg);
    background: #000000;
  }

  &:after {
    position: absolute;
    content: '';
    right: -1.4rem;
    width: .7rem;
    height: .1rem;
    top: 50%;
    transform: rotate(-45deg);
    background: #000000;
  }
}

.catalog-page-wrap {
  &__margin-filter {
    margin-top: 7.7rem;
  }

  &__margin-result {
    margin-top: 5.6rem;
  }
}

.catalog-filter-result {
  &__margin-result {
    margin-top: 6.7rem;
  }
}

.catalog-filter-result-headline {
  font-family: "Cormorant", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 117.5%;
  color: #343434;
  width: 100%;
  display: flex;
  justify-content: center;
}

.filter-result-text {
  display: flex;
}

.filter-result-num {
  color: #F04D22;
  width: 2.3rem;
  height: 2.3rem;
  border-radius: .5rem;
  @include flexible();
  background: white;
}

.catalog-filter-list {
  display: grid;
  grid-template: auto/repeat(auto-fill, minmax(39rem, 1fr));
  column-gap: 1.7rem;
  row-gap: 5.4rem;

  .slider-item-wrap {
    margin-right: 0;
  }
}



.banner-catalog-vers1 {
  background: #FFFFFF;
  position: relative;
  margin-top: 8.8rem;
  margin-bottom: 6.1rem;
  grid-column: span 4;
}

.left-black-diamond {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 40.3rem;
  width: 100%;

  img {
    width: 100%;
    object-fit: contain;
  }
}

.banner-back-black {
  max-width: 112.3rem;
  width: 100%;
  -webkit-clip-path: polygon(0 0, 0 100%, 50% 100%, 100% 0%, 100% 0);
  clip-path: polygon(0 0, 0 100%, 60% 100%, 100% 0%, 100% 0);
  min-height: 24.7rem;
  background: #1E1E1E;
  position: relative;
}

.diamonds-back-right {
  position: absolute;
  top: 0;
  right: 33%;
  max-width: 53.5rem;

  img {
    width: 100%;
    object-fit: contain;
  }
}

.banner-catalog-vers2 {
  grid-column: span 4;

  .right-ring {
    max-width: 82.1rem;

    img {
      width: 100%;

    }
  }

  .product-selection {
    background: none;
    max-width: 192rem;
    width: 100%;
    margin: auto;
  }
}

.banner-catalog-vers2-wrap {
  margin-top: 10.8rem;
  margin-bottom: 9.9rem;
  background: url(/assets/img/product-selection.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: calc(100% + 50vw);
  margin-left: -25vw;
}

.banner-catalog-vers3 {
  grid-column: span 4;
  margin-top: 11rem;
  margin-bottom: 11rem;
}

.banner-catalog-vers3-wrap {
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  width: calc(100% + 50vw);
  margin-left: -25vw;

  .main-worth-wrap {
    // max-width: 192rem;
  }
}

.pagination-list-wrap {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__margin-list {
    margin-top: 8.4rem;
  }
}

.pagination-list {
  font-family: "Cormorant", sans-serif;
  font-weight: bold;
  line-height: 117.5%;
  display: flex;
  align-items: center;

  button {
    font-size: 1.6rem;
    color: #B3B3B3;

    &.selected-btn {
      color: #343434;
    }
  }

  li {
    font-size: 4.8rem;
    margin-right: 2.3rem;
    color: #B3B3B3;

    &.selected {
      color: #343434;
    }
  }
}

.prev-pag {
  margin-right: 2.6rem;
  display: flex;
  align-items: center;

  .link-arrow {
    transform: rotate(180deg);
    margin-top: 0;
    margin-right: 1rem;
  }
}

.next-pag {
  display: flex;
  align-items: center;

  .link-arrow {
    margin-top: 0;
  }
}

.form-buttons-list {


  &__margin-content {
    margin-top: 5.6rem;
  }
}

.form-buttons-wrap-list {
  display: flex;
  align-items: center;
}

.basket-btn-submit {
  font-family: "Cormorant", sans-serif;
  font-weight: bold;
  font-size: 1.6rem;
  line-height: 117.5%;
  color: #FFFFFF;
  width: 22.9rem;
  height: 6rem;
  @include flexible();
  background: #F04D22;
}

.form-buttons-list-item {
  margin-right: 2.4rem;

  &:last-child {
    margin-right: 0;
  }
}

.product-details-headline {
  font-family: "Cormorant", sans-serif;
  font-weight: bold;
  font-size: 38px;
  line-height: 157%;
  letter-spacing: -0.02em;
  color: #000000;
}



.product-detail-description {
  font-family: "Noto Sans", sans-serif;
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 117.5%;
  color: #A3A3A3;
}

.product-detail-list {
  font-family: "Noto Sans", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 174.5%;
  text-transform: uppercase;
}

.product-detail-list-item {
  margin-bottom: 2rem;
  position: relative;
  display: flex;
  width: 100%;

  &:last-child {
    margin-bottom: 0;
  }
}

.product-detail-right {
  position: absolute;
  top: 0;
  right: 0;
}

.product-detail-left {
  color: #A0A0A0;
}

.banner-back-black-wrap {
  padding-left: 10.5rem;
  padding-right: 5.75rem;
  height: 100%;
  padding-top: 6.8rem;
  display: flex;
  justify-items: space-between;
  width: 100%;
}

.banner-back-black-left {
  color: #FFFFFF;
  max-width: 44.7rem
}

.banner-back-black-right {
  position: absolute;
  top: 6.8rem;
  right: 6.1rem;
  max-width: 34rem;
  width: 100%;
  font-family: "Noto Sans", sans-serif;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 176.5%;
  /* or 32px */
  text-transform: uppercase;
  color: #000000;

  p {
    display: inline;
  }

  &:before {
    position: absolute;
    content: '';
    width: .3rem;
    height: 100%;
    background: #F04D22;
    top: 0;
    left: -2.4rem;
  }
}

.banner-point {
  display: inline;
  background: #F04D22;
  color: white;
  padding: .55rem 1.35rem;
}

.filter-wrap-sorting {
  display: flex;
  align-items: center;
}

.btn-filter-mobile {
  display: none;
}

.btn-filter-mobile-item {
  font-family: "Noto Sans", sans-serif;
  font-weight: normal;
  font-size: 12px;
  line-height: 25px;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #525252;
  background: white;
  padding: 1.1rem 0;
  max-width: 27rem;
  width: 100%;
  @include flexible();

  img{
    margin-left: 1rem;
  }

  &--active{
    max-width:unset;
  }
}