.sales-list-main {
  &__padding-main {
    padding: 20rem 1.6rem 0;
    background: #F6F6F6;
  }
}

.sales-list-wrap {
  font-family: "Cormorant", sans-serif;
  font-weight: 300;
}

.sales-list {
  display: flex;
  flex-wrap: wrap;

  .slick-prev,
  .slick-next {
    top: auto;
    bottom: 1rem;
  }

  .slick-prev {
    left: -1rem;
  }

  .slick-next {
    right: -1rem;
  }
}

.sales-var1 {
  // background: linear-gradient(0deg, #f04d22, #f04d22);
  flex: 1;

  .sales-item-wrap {

    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.sales-var2 {
  flex: 0 1 31.41%;
  margin-left: 2rem;

  a {
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }


  &__margin-desc {
    margin: auto;
    margin-top: 16.6rem;
  }

}

.sales-item-wrap {
  &__margin-desc {
    margin-top: 10.2rem;
    max-width: 50rem;
  }

  &__margin-action {
    margin-top: 2.3rem;
  }

  &__margin-link {
    margin-top: 4.2rem;
  }
}

.sales-num {
  font-size: 14.4rem;
  letter-spacing: 0.015em;
  color: #ffffff;
  line-height: 117.5%;
}

.sales-description {
  font-size: 4.8rem;
  letter-spacing: 0.015em;
  color: #ffffff;
  line-height: 117.5%;
}

.action-valid {
  font-family: "Noto Sans", sans-serif;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 117.5%;
  text-transform: uppercase;
  color: #dfdfdf;
}

.link-sales {
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 117.5%;
  color: #ffffff;

  a {
    display: flex;
    align-items: center
  }
}

.sales-pic {
  position: absolute;
  top: 4.6rem;
  right: 0;
  max-width: 80rem;
  width: 100%;
  max-height: 49.8rem;
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.sales-var3 {
  width: 100%;
  background-size: cover;
  height: 24.7rem;
  margin-top: 2.4rem;
}

.sales-item-wrap-text {
  height: 100%;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.left-side-text {
  font-family: "Cormorant", sans-serif;
  font-weight: 300;
  font-size: 4.8rem;
  line-height: 117.5%;
  letter-spacing: 0.015em;
  color: #ffffff;
  padding-bottom: 6.6rem;
}

.right-side-text {
  font-family: "Cormorant", sans-serif;
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 117.5%;
  color: #343434;
  padding-bottom: 4.2rem;
  display: flex;
  align-items: center
}

.gold-main-wrap {
  max-width: 156rem;
  margin: auto;
  padding: 6.9rem 0 12.5rem;
  z-index: 11;
  position: relative;

  &__margin-list {
    margin-top: 18.8rem;
  }
}

.gold-main {
  font-family: "Cormorant", sans-serif;
  font-weight: 300;
  position: relative;
  background: white;
  overflow: hidden;
  margin-top: 8rem;
}



.gold-main-headline {
  color: #322a28;
  width: 100%;
  text-align: center;
}

.gold-list {
  font-weight: bold;
  font-size: 9.6rem;
  line-height: 117.5%;
  color: #a3a3a3;
  display: flex;
  flex-wrap: wrap;
  z-index: 2;

  .tabs__item {
    margin-bottom: 11.4rem;
    cursor: pointer;
    position: relative;
    transition: color 0.2s;

    &:after {
      position: absolute;
      content: '';
      width: 100%;
      height: .2rem;
      left: 0;
      bottom: 1rem;
      
    }

    &:hover {
      color: #322A28;

      &:after {
        background: #322A28;
      }

    }
  }
}

.margin-gold-list {
  margin-right: 19.4rem;

  &.change {
    margin-left: 29rem;
  }
}

.diamonds-main {

  &__margin-content {
    padding-top: 9.5rem;
  }
}

.diamonds-wrap {
  font-family: "Cormorant", sans-serif;
  font-weight: 300;
  padding-bottom: 30.4rem;
  position: relative;

  .tabs {
    position: relative;
    z-index: 25;

    .tabs__item{
      position: relative;
      display: block;
      &:after {
        position: absolute;
        content: '';
        width: 100%;
        height: .2rem;
        left: 0;
        bottom: 1rem;
        
      }
  
      &:hover {
        color: #322A28;
  
        &:after {
          background: #322A28;
        }
  
      }
    }
  }

  .tabs__content {
    z-index: 0;
  }

  &__margin-list {
    padding-top: 8.4rem;
  }
}

.diamonds-headline {
  width: 100%;
  text-align: center;
  color: #322a28;
}

.diamonds-list {
  font-weight: bold;
  font-size: 9.6rem;
  line-height: 117.5%;
  color: #000000;
  max-width: 134.4rem;
  margin: auto;
  display: flex;
  justify-content: space-between;

  li {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      width: 1.2rem;
      height: 1.2rem;
      border-radius: 50%;
      background: #f04d22;
      right: -40%;
      top: 50%;
    }

    &:last-child {
      &::before {
        display: none;
      }
    }
  }
}

.set-cheaper {
  font-family: "Cormorant", sans-serif;
  font-weight: 300;

  &__margin-content {
    margin-top: 5.9rem;
  }
}

.set-cheaper-wrap {
  &__margin-sublink {
    margin-top: 1.9rem;
  }
}

.set-cheaper-headline {
  color: #322a28;
  width: 100%;
  text-align: center;
}

.set-cheaper-sublink {
  font-weight: bold;
  font-size: 1.8rem;
  line-height: 117.5%;
  color: #343434;
  width: 100%;
  text-align: center;

  a {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.cheaper-slider {
  &__margin-slider {
    margin-top: 12.2rem;
  }
}

.slider-item {
  height: 41.3rem;
}

.slider-pic {
  width: 18.4rem;
  height: 21.6rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.slider-description {
  font-family: "Noto Sans", sans-serif;
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 2.5rem;
  text-align: center;
  letter-spacing: 0.15em;
  text-transform: uppercase;
  color: #525252;
  max-width: 21.2rem;
}

.slider-price {
  letter-spacing: 0.015em;
  line-height: 117.5%;
  display: flex;
  font-family: "Cormorant", sans-serif;
  font-weight: 300;
}

.old-prie {
  font-size: 2.5rem;
  color: #848484;
  position: relative;

  &:before {
    width: 100%;
    height: 0.1rem;
    background: #848484;
    position: absolute;
    content: "";
    top: 0.5rem;
    right: 0rem;
    transform: rotate(-13deg);
  }
}

.new-price {
  color: #322a28;
  font-size: 3.5rem;
}

.slider-item-wrap {
  height: 100%;
  display: flex;
  width: 38.7rem;
  background: #ffffff;
  margin-right: 1.7rem;
  flex-direction: column;
  align-items: center;
  padding: 4.6rem 0 2.6rem;
  position: relative;

  &__margin-price {
    margin-top: 1.5rem;
  }

  &__margin-text {
    margin-top: 3.5rem;
  }

  .sales-product {
    position: absolute;
    top: .9rem;
    left: 1.2rem;
    border: 0.784772px solid #F04D22;
    padding: 1.2rem 1rem;
    border-radius: 100px / 40px;
    transform: matrix(1, -0.01, 0.01, 1, 0, 0);
    font-family: "Noto Sans", sans-serif;
    font-weight: normal;
    font-size: 1rem;
    line-height: 117.5%;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #F04D22;
    transform: matrix(0.99, -0.12, 0.12, 0.99, 0, 0);

    p {
      transform: rotate(6deg);
    }
  }
}



.slider-price-item {
  margin-right: 2rem;

  &:last-child {
    margin-right: 0;
  }
}

.news-item-main {
  font-family: "Cormorant", sans-serif;
  font-weight: 300;

  &__margin-content {
    margin-top: 17.1rem;
  }
}

.news-item-headline {
  color: #322a28;
  width: 100%;
  text-align: center;
}

.news-item-slider {
  &__margin-slider {
    margin-top: 5.2rem;
  }
}

.product-selection-main {
  background: url(/assets/img/product-selection.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.product-selection {

  position: relative;

  &__margin-content {
    margin-top: 19rem;
  }
}

.left-diamonds {
  position: absolute;
  left: 10rem;
  bottom: 0;
}

.right-ring {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100%;

  img {
    height: 100%;
  }
}

.product-selection-wrap {
  padding: 9.6rem 0 8.7rem 26.1rem;
}

.product-selection-main {
  .product-selection-wrap {
    padding-left: 10rem;
  }

  .left-diamonds {
    left: -10rem;
  }

  .right-ring {
    right: -13rem;
  }

}

.product-selection-form {
  max-width: 66.9rem;
  width: 100%;

  &__margin-text {
    margin-top: 3.3rem;
  }

  &__margin-input {
    margin-top: 3rem;
  }

  .info-list-input {
    font-family: "Noto Sans", sans-serif;
    font-weight: normal;
    font-size: 1.6rem;
    line-height: 117.5%;
    color: #aaaaaa;
    display: flex;
    flex-direction: column;

    .input-list-item {
      max-width: 51rem;
      width: 100%;
      margin: auto;
      margin-bottom: 1.65rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.selection-form-headline {
  text-align: center;
  color: #ffffff;
}

.selection-form-description {
  font-family: "Noto Sans", sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #b3b3b3;
}

.btn-product-form {
  max-width: 49.2rem;
  width: 100%;
  margin: auto;
  margin-top: 6.8rem;
}

.product-form-subtext {
  font-family: "Noto Sans", sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 117.5%;
  text-align: center;
  color: #aaaaaa;
  max-width: 32rem;
  width: 100%;
  margin: auto;
  margin-top: 3.2rem;
}

.main-worth {
  &__margin-content {
    padding-top: 12.4rem;
    padding-bottom: 17.2rem;
  }
}

.main-worth-wrap {
  max-width: 169rem;
  margin: auto;
}

.worth-list {
  display: flex;
  justify-content: space-between;

  &__margin-list {
    margin-top: 15.9rem;
  }
}

.worth-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__margin-text {
    margin-top: 8.2rem;
  }
}

.worth-headline {
  font-family: 'Cormorant', sans-serif;
  font-weight: bold;
  font-size: 9.6rem;
  line-height: 117.5%;
  color: #000000;
  position: relative;

  &:before {
    position: absolute;
    content: '';
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    background: #F04D22;
    left: 50%;
    bottom: -4rem;
  }
}

.worth-text {
  max-width: 59.3rem;
  width: 100%;
  font-family: "Noto Sans", sans-serif;
  font-weight: normal;
  font-size: 1.8rem;
  line-height: 4rem;
  text-align: center;
  text-transform: uppercase;
  color: #B3B3B3;
}

.our-instagram {
  background: #FFFFFF;
  position: relative;

  // &:before {
  //   position: absolute;
  //   content: '';
  //   background: url(/assets/img/inst-back.png);
  //   right: 0;
  //   top: 0;
  //   width: 1404.04px;
  //   height: 545.35px;
  // }

  &__margin-content {
    padding-top: 10.7rem;
  }
}

.inst-back {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}

.inst-back2 {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 0;
}

.our-inst-wrap {
  z-index: 1;
}

.our-inst-headline {
  color: #322A28;
  width: 100%;
  text-align: center;
}

.inst-photo-wrap {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  z-index: 1;
  position: relative;

  &__margin-photo {
    margin-top: 15.2rem;
  }

  &__margin-tel {
    margin-top: 2.7rem;
  }
}

.photo-inst-item {
  max-width: 29.9rem;
  width: 100%;

  img {
    width: 100%;
  }
}

.phone-prev {
  flex-shrink: 1;

  img {
    width: 100%;
  }
}

.photo-inst-list {
  max-width: 94.7rem;
  width: 100%;
  display: grid;
  grid-template: auto/repeat(3, 1fr);
  grid-gap: 2.5rem;
  flex-shrink: 1;
}

.photo-inst-item {}

.recently-viewed {
  &__margin-content {
    margin-top: 11.4rem;
  }

  &__margin-catalog {
    margin-top: 21.2rem;
  }
}

.recently-viewed-wrap {

  &__margin-slider {
    margin-top: 7rem;
  }
}

.recently-slider-link {
  width: 30.4rem;
  height: 30.4rem;
  display: block;
  margin-right: 2rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.recently-headline {
  width: 100%;
  text-align: center;
  color: #322A28;
}


.tabs__content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.tabs__content {
  display: none;
}

.tabs__content.active {
  display: block;
}

.top-right-img {
  position: absolute;
  // max-width: 69.3rem;
  // width: 100%;
  // height: 100%;
  width: 100%;
  height: 100%;
  object-fit: contain;
  top: 0;
  right: 0;

  img {
    width: 100%;
    height: 100%;
  }
}

.top-left-img {
  position: absolute;
  top: 0;
  left: 0;
  // max-width: 65.2rem;
  // width: 100%;

  img {
    width: 100%;
  }
}

.top-btm-img {
  position: absolute;
  left: 0;
  bottom: 0;
  // max-width: 39.2rem;
  // width: 100%;

  img {
    width: 100%;
  }
}

.slick-prev,
.slick-next {
  top: 45%;
}

.headline-pic {
  font-size: 9.6rem;
}

.tabs__item {
  position: relative;
}

.catalog-mob-pic {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.slick-dots li button:before {
  content: '';
}

.slick-dots li button {
  width: .8rem;
  height: .8rem;
}

.photo-inst-wrap {
  position: relative;

  &:before {
    position: absolute;
    content: '';
    top: 1.1rem;
    left: 1.4rem;
    width: 2.2rem;
    height: 2.2rem;
    background-image: url(/assets/img/inst.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.photo-inst-wrap2 {
  &:before {
    background-image: url(/assets/img/inst2.svg);
    background-size: cover;
  }
}