@import url('fonts/Fontello/css/fontello.css');

@mixin font-face($font-family, $file-path, $weight: normal, $style: normal) {
  @font-face {
    font-family: $font-family;
    src: url('#{$file-path}.woff2');
    font-weight: $weight;
    font-style: $style;
  }
}

//Montserrat
@include font-face("Cormorant", "fonts/Cormorant-Light", 300);
@include font-face("Cormorant", "fonts/Cormorant-Regular", 400);
@include font-face("Cormorant", "fonts/Cormorant-Bold", 700);
@include font-face("Noto Sans", "fonts/NotoSans", 400);
