.link-arrow {
  width: 1.3rem;
  height: .5rem;
  stroke: #343434;
  stroke-width: .1rem;
  margin-left: .5rem;
  margin-top: .3rem;
}

.link-arrow-head {
  width: 1.4rem;
  height: .7rem;
  stroke: #FFFFFF;
  stroke-width: .1rem;
  margin-left: .5rem;
  margin-top: .5rem;
}

.logo-first {
  width: 19.1rem;
  height: 3.6rem;
  fill: #F04D22;
}

.logo-second {
  fill: #480026;
  width: 9.3rem;
  height: 1.1rem;
}

.footer-logo-link {
  .logo-first {
    width: 19.1rem;
    height: 3.6rem;
    fill: #F04D22;
  }

  .logo-second {
    fill: #480026;
    width: 9.3rem;
    height: 1.1rem;
  }
}

.link-vk {
  width: 3.1rem;
  height: 1.7rem;
  fill: #343434;
  ;
}

.link-inst {
  width: 2.75rem;
  height: 2.75rem;
  fill: #343434;
  ;
}

.basket-svg {
  width: 3.1rem;
  height: 3.1rem;
  fill: #322A28;
}